openapi: 3.0.1
info:
  title: Checkout API
  version: 1.23.3
  description: Describes the Checkout API used for accepting payments
servers:
- url: https://emea.gsc.verifone.cloud/oidc/checkout-service
  description: EMEA
- url: https://us.gsc.verifone.cloud/oidc/checkout-service
  description: Americas
- url: https://nz.gsc.verifone.cloud/oidc/checkout-service
  description: New Zealand and Australia
- url: https://cst.test-gsc.vfims.com/oidc/checkout-service
  description: Global Sandbox
- url: https://uscst-gb.gsc.vficloud.net/oidc/checkout-service
  description: US Sandbox

paths:
  /v2/checkout:
    post:
      tags:
        - Checkout
      summary: Create a checkout
      security:
        - BasicAuth: []
        - BearerAuth: []
      operationId: postV2Checkout
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Model63'
                - $ref: '#/components/schemas/Model87'
        required: false
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model64'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model48'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model34'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model29'
        504:
          description: Gateway Time-out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model49'
      x-codegen-request-body-name: body
    get:
      tags:
        - Checkout
      summary: List Checkouts
      security:
        - BasicAuth: []
        - BearerAuth: []
      operationId: getV2Checkout
      parameters:
      - name: search
        in: query
        description: |-
          <div style='font-weight: 400;line-height: 1.5em; width: 100%;'>
          <p><a href='https://aboullaite.me/rsql/' target='_blank' title='Read more about RSQL'>RSQl Query</a> is composed of one or more expressions, combined to each other with following logical operators: </p>
          <p>A filter query in RSQL format to retrieve themes. The returned themes are limited to those that can be retrieved by the user. </p>
          <table>
              <thead>
                  <tr>
                      <th>Criteria</th>
                      <th>Description</th>
                      <th>Operator Used</th>
                  </tr>
              </thead>
              <tbody>
                 <tr>
                              <td>amount</td>
                              <td>number</td>
                              <td>==, !=, =in=, =out=, =gt=, =ge=, =lt=, =le=</td></tr><tr>
                              <td>created_at</td>
                              <td>date</td>
                              <td>==, !=, =in=, =out=, =gt=, =ge=, =lt=, =le=</td></tr><tr>
                              <td>currency_code</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>customer</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>id</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>merchant_reference</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>entity_id</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>updated_at</td>
                              <td>date</td>
                              <td>==, !=, =in=, =out=, =gt=, =ge=, =lt=, =le=</td></tr><tr>
                              <td>expiry_time</td>
                              <td>date</td>
                              <td>==, !=, =in=, =out=, =gt=, =ge=, =lt=, =le=</td></tr><tr>
                              <td>status</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>notification_methods.email.email_address</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>configurations.card.token_details.reuse_token</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>payment_method_used</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>interaction_type</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>theme_id</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>transaction_id</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr>
                              <td>created_by</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr>
              </tbody>
          </table>
          <p> Note: </p>
          <table>
              <thead>
                  <tr>
                      <th>Operator</th>
                      <th>Description</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>==</td>
                      <td>equal</td>
                  </tr>
                  <tr>
                      <td>!=</td>
                      <td>not equal</td>
                  </tr>
                  <tr>
                      <td>=lt=</td>
                      <td>less than</td>
                  </tr>
                  <tr>
                      <td>=le=</td>
                      <td>less than and equal to</td>
                  </tr>
                  <tr>
                      <td>=gt=</td>
                      <td>greater than</td>
                  </tr>
                  <tr>
                      <td>=ge=</td>
                      <td>greater than and equal to</td>
                  </tr>
                  <tr>
                      <td>=regex=</td>
                      <td>pattern matching</td>
                  </tr>
                  <tr>
                      <td>=in=</td>
                      <td>multiple arguments search</td>
                  </tr>
                  <tr>
                      <td>=out=</td>
                      <td>exclude</td>
                  </tr>
                  <tr>
                      <td><b>;</b></td>
                      <td>Logical AND</td>
                  </tr>
                  <tr>
                      <td><b>,</b></td>
                      <td>Logical OR</td>
                  </tr>
              </tbody>
          </table>
          <p><b>Note:</b> Logical AND ( ; ) has higher precedence than Logical OR ( , ), whereas a parenthesis () can be used to override the precedence of an operator.</p>
          <p>
              Example for list checkout:
              <ul>
                  <li>
                      <p>/v2/checkout?<b>search=<br>
                      id==123;<br>
                      (amount==999,<br>
                      currency_code==USD);<br>
                      status==Authorized&amp;<br>
                      order_by=ASC&amp;<br>
                      order_criteria=amount&amp;<br>
                      page_size=1&amp;<br>
                      page_number=2</b></p>
                  </li>
                  </br>
                  <li>
                      <p>/v2/checkout?<b>search=<br>
                      id==12345,<br>
                      merchant_reference==1234554321;<br>
                      amount==3224&amp;<br>
                      order_by=DESC&amp;<br>
                      order_criteria=created_at&amp;<br>
                      page_size=10&amp;<br>
                      page_number=1</b></p>
                  </li>
                  </br>
                  <li>
                      <p>/v2/checkout?<b>search=<br>
                      amount=in=(100,200);<br>
                      interaction_type!=PAYMENT_LINK&amp;<br>
                      order_by=ASC&amp;<br>
                      order_criteria=currency_code&amp;<br>
                      page_size=1&amp;<br>
                      page_number=2</b></p>
                  </li>
              </ul>
          </p>
          </div>
        required: true
        schema:
          type: string
      - name: order_criteria
        in: query
        description: "The ordering sequence of the selected checkouts\n        If
          \ not selected then a default order is based on created Date Time.\n
          \       The value of order_criteria can be one of the following: \n
          \ <ul>
                <li>amount</li>
                <li>currency_code</li>
                <li>created_at</li>
                <li>updated_at</li>
          </ul>\n"
        schema:
          maxLength: 255
          type: string
      - name: order_by
        in: query
        description: The ordering sequence of the selected customers If not selected
          then Descending order is the default order.
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: page_number
        in: query
        description: A filter query in RSQL format to retrieve customers based on
          page number. If not selected then a default pageNumber is 1.
        schema:
          minimum: 1
          type: number
      - name: page_size
        in: query
        description: A filter query in RSQL format to retrieve customers based on
          page size. If not selected then a default pageSize is 50
        schema:
          minimum: 0
          type: number
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model23'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model29'

  /v2/checkout/{checkoutId}:
    get:
      tags:
        - Checkout
      summary: Get a checkout by id
      security:
        - BasicAuth: []
        - BearerAuth: []
      operationId: getV2CheckoutCheckoutid
      parameters:
      - name: checkout_id
        in: path
        description: Checkout ID
        required: true
        schema:
          type: string
          x-format:
            guid: true
        x-format:
          guid: true
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model22'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model34'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model29'
    patch:
      tags:
        - Checkout
      summary: Update a checkout
      security:
        - BasicAuth: []
        - BearerAuth: []
      operationId: patchV2CheckoutCheckoutid
      parameters:
      - name: checkout_id
        in: path
        description: Checkout ID
        required: true
        schema:
          type: string
          x-format:
            guid: true
        x-format:
          guid: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model75'
        required: false
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model22'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model34'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model29'
      x-codegen-request-body-name: body
  /v2/checkout/count:
    get:
      tags:
        - Checkout
      summary: Count Checkouts
      security:
        - BasicAuth: []
        - BearerAuth: []
      operationId: getV2CheckoutCount
      parameters:
      - name: search
        in: query
        description: |-
          <div style='font-weight: 400;line-height: 1.5em; width: 100%;'>
          <p><a href='https://aboullaite.me/rsql/' target='_blank' title='Read more about RSQL'>RSQl Query</a> is composed of one or more expressions, combined to each other with following logical operators: </p>
          <p>A filter query in RSQL format to retrieve themes. The returned themes are limited to those that can be retrieved by the user. </p>
          <table>
              <thead>
                  <tr>
                      <th>Criteria</th>
                      <th>Description</th>
                      <th>Operator Used</th>
                  </tr>
              </thead>
              <tbody>
                 <tr>
                              <td>amount</td>
                              <td>number</td>
                              <td>==, !=, =in=, =out=, =gt=, =ge=, =lt=, =le=</td></tr><tr>
                              <td>created_at</td>
                              <td>date</td>
                              <td>==, !=, =in=, =out=, =gt=, =ge=, =lt=, =le=</td></tr><tr>
                              <td>currency_code</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>customer</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>id</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>merchant_reference</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>entity_id</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>updated_at</td>
                              <td>date</td>
                              <td>==, !=, =in=, =out=, =gt=, =ge=, =lt=, =le=</td></tr><tr>
                              <td>expiry_time</td>
                              <td>date</td>
                              <td>==, !=, =in=, =out=, =gt=, =ge=, =lt=, =le=</td></tr><tr>
                              <td>status</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>notification_methods.email.email_address</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>configurations.card.token_details.reuse_token</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>payment_method_used</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>interaction_type</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>theme_id</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr><tr>
                              <td>transaction_id</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr>
                              <td>created_by</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr>
              </tbody>
          </table>
          <p> Note: </p>
          <table>
              <thead>
                  <tr>
                      <th>Operator</th>
                      <th>Description</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>==</td>
                      <td>equal</td>
                  </tr>
                  <tr>
                      <td>!=</td>
                      <td>not equal</td>
                  </tr>
                  <tr>
                      <td>=lt=</td>
                      <td>less than</td>
                  </tr>
                  <tr>
                      <td>=le=</td>
                      <td>less than and equal to</td>
                  </tr>
                  <tr>
                      <td>=gt=</td>
                      <td>greater than</td>
                  </tr>
                  <tr>
                      <td>=ge=</td>
                      <td>greater than and equal to</td>
                  </tr>
                  <tr>
                      <td>=regex=</td>
                      <td>pattern matching</td>
                  </tr>
                  <tr>
                      <td>=in=</td>
                      <td>multiple arguments search</td>
                  </tr>
                  <tr>
                      <td>=out=</td>
                      <td>exclude</td>
                  </tr>
                  <tr>
                      <td><b>;</b></td>
                      <td>Logical AND</td>
                  </tr>
                  <tr>
                      <td><b>,</b></td>
                      <td>Logical OR</td>
                  </tr>
              </tbody>
          </table>
          <p>Note: Parenthesis can be used to determine the precedence of the operator.</p>
          <p>
              Example for count checkout:
              <ul>
                  <li>
                      <p>/v2/checkout/count?<b>search=<br>
                      entity_id==a6b45428-0296-4394-8ddd-0b50b5b20aa9&amp;<br>
                      amount==324</b></p>
                  </li>
                  </br>
                  <li>
                      <p>/v2/checkout/count?<b>search=<br>
                      entity_id==a6b45428-0296-4394-8ddd-0b50b5b20aa9&amp;<br>
                      status==COMPLETED</b></p>
                  </li>
                  </br>
                  <li>
                      <p>/v2/checkout/count?<b>search=<br>
                      entity_id==a6b45428-0296-4394-8ddd-0b50b5b20aa9&amp;<br>
                      amount=in=(100,200)</b></p>
                  </li>
              </ul>
          </p>
          </div>
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model30'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model29'

  /v2/theme:
    get:
      tags:
      - Theming
      summary: List Themes
      security:
        - BasicAuth: []
        - BearerAuth: []
      operationId: getV2Theme
      parameters:
      - name: search
        in: query
        description: |-
          <div style='font-weight: 400;line-height: 1.5em; width: 100%;'>
          <p><a href='https://aboullaite.me/rsql/' target='_blank' title='Read more about RSQL'>RSQl Query</a> is composed of one or more expressions, combined to each other with following logical operators: </p>
          <p>A filter query in RSQL format to retrieve themes. The returned themes are limited to those that can be retrieved by the user. </p>
          <table>
              <thead>
                  <tr>
                      <th>Criteria</th>
                      <th>Description</th>
                      <th>Operator Used</th>
                  </tr>
              </thead>
              <tbody>
                 <tr>
                              <td>name</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=, =contains=</td></tr><tr>
                              <td>created_at</td>
                              <td>date</td>
                              <td>==, !=, =in=, =out=, =gt=, =ge=, =lt=, =le=</td></tr><tr>
                              <td>updated_at</td>
                              <td>date</td>
                              <td>==, !=, =in=, =out=, =gt=, =ge=, =lt=, =le=</td></tr><tr>
                              <td>entity_id</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr>
                              <td>is_default</td>
                              <td>boolean</td>
                              <td>==, !=</td></tr>
              </tbody>
          </table>
          <p> Note: </p>
          <table>
              <thead>
                  <tr>
                      <th>Operator</th>
                      <th>Description</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>==</td>
                      <td>equal</td>
                  </tr>
                  <tr>
                      <td>!=</td>
                      <td>not equal</td>
                  </tr>
                  <tr>
                      <td>=lt=</td>
                      <td>less than</td>
                  </tr>
                  <tr>
                      <td>=le=</td>
                      <td>less than and equal to</td>
                  </tr>
                  <tr>
                      <td>=gt=</td>
                      <td>greater than</td>
                  </tr>
                  <tr>
                      <td>=ge=</td>
                      <td>greater than and equal to</td>
                  </tr>
                  <tr>
                      <td>=regex=</td>
                      <td>pattern matching</td>
                  </tr>
                  <tr>
                      <td>=contains=</td>
                      <td>case insensitive substring matching</td>
                  </tr>
                  <tr>
                      <td>=in=</td>
                      <td>multiple arguments search</td>
                  </tr>
                  <tr>
                      <td>=out=</td>
                      <td>exclude</td>
                  </tr>
                  <tr>
                      <td><b>;</b></td>
                      <td>Logical AND</td>
                  </tr>
                  <tr>
                      <td><b>,</b></td>
                      <td>Logical OR</td>
                  </tr>
              </tbody>
          </table>
          <p>Note: Parenthesis can be used to determine the precedence of the operator.</p>
          <p>
              Example for list theme:
              <ul>
                  <li>
                      <p>/v2/theme?<b>search=<br>
                      name==ThemeName&amp;<br>
                      order_by=ASC&amp;<br>
                      order_criteria=name&amp;<br>
                      page_size=1&amp;<br>
                      page_number=2</b></p>
                  </li>
                  </br>
                  <li>
                      <p>/v2/theme?<b>search=<br>
                      name==ThemeName&amp;<br>
                      order_by=DESC&amp;<br>
                      order_criteria=created_at&amp;<br>
                      page_size=10&amp;<br>
                      page_number=1</b></p>
                  </li>
              </ul>
          </p>
          </div>
        schema:
          type: string
      - name: order_criteria
        in: query
        schema:
          type: string
          enum:
          - name
          - created_at
          - updated_at
      - name: order_by
        in: query
        description: The ordering sequence of the selected customers If not selected
          then Descending order is the default order.
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: page_number
        in: query
        description: A filter query in RSQL format to retrieve customers based on
          page number. If not selected then a default pageNumber is 1.
        schema:
          minimum: 1
          type: number
      - name: page_size
        in: query
        description: A filter query in RSQL format to retrieve customers based on
          page size. If not selected then a default pageSize is 50
        schema:
          minimum: 0
          type: number
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model25'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model29'
    post:
      tags:
      - Theming
      summary: Create Theme
      security:
        - BasicAuth: []
        - BearerAuth: []
      operationId: postV2Theme
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model68'
        required: false
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model29'
      x-codegen-request-body-name: body
  /v2/theme/preview:
    post:
      tags:
      - Theming
      summary: Preview Theme
      security:
        - BasicAuth: [ ]
        - BearerAuth: [ ]
      operationId: postV2ThemePreview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model69'
        required: false
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model82'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model29'
      x-codegen-request-body-name: body
  /v2/theme/{themeId}:
    get:
      tags:
      - Theming
      summary: Get a theme by id
      security:
        - BasicAuth: []
        - BearerAuth: []
      operationId: getV2ThemeThemeid
      parameters:
      - name: theme_id
        in: path
        description: Parameter that was created within the create theme API call that applies the customizations upon the checkout interface. Read <a target="_blank" href="https://verifone.cloud/docs/online-payments/theming">Theming</a> for details.
        required: true
        schema:
          type: string
          x-format:
            guid: true
        x-format:
          guid: true
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model34'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model29'
    put:
      tags:
      - Theming
      summary: Update Theme
      security:
        - BasicAuth: []
        - BearerAuth: []
      operationId: putV2ThemeThemeid
      parameters:
        - name: themeId
          in: path
          description: Parameter that was created within the create theme API call that applies the customizations upon the checkout interface. Read <a target="_blank" href="https://verifone.cloud/docs/online-payments/theming">Theming</a> for details.
          required: true
          schema:
            type: string
            x-format:
              guid: true
          x-format:
            guid: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model72'
        required: false
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model24'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model34'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model29'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Theming
      summary: Delete a theme by id
      security:
        - BasicAuth: []
        - BearerAuth: []
      operationId: deleteV2ThemeThemeid
      parameters:
        - name: themeId
          in: path
          description: Parameter that was created within the create theme API call that applies the customizations upon the checkout interface. Read <a target="_blank" href="https://verifone.cloud/docs/online-payments/theming">Theming</a> for details.
          required: true
          schema:
            type: string
            x-format:
              guid: true
          x-format:
            guid: true
      responses:
        204:
          description: Success. Theme was successfully deleted.
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model34'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model29'
  /v2/theme/count:
    get:
      tags:
      - Theming
      summary: Count Themes
      security:
        - BasicAuth: []
        - BearerAuth: []
      operationId: getV2ThemeCount
      parameters:
      - name: search
        in: query
        description: |-
          <div style='font-weight: 400;line-height: 1.5em; width: 100%;'>
          <p><a href='https://aboullaite.me/rsql/' target='_blank' title='Read more about RSQL'>RSQl Query</a> is composed of one or more expressions, combined to each other with following logical operators: </p>
          <p>A filter query in RSQL format to retrieve themes. The returned themes are limited to those that can be retrieved by the user. </p>
          <table>
              <thead>
                  <tr>
                      <th>Criteria</th>
                      <th>Description</th>
                      <th>Operator Used</th>
                  </tr>
              </thead>
              <tbody>
                 <tr>
                              <td>name</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=, =contains=</td></tr><tr>
                              <td>created_at</td>
                              <td>date</td>
                              <td>==, !=, =in=, =out=, =gt=, =ge=, =lt=, =le=</td></tr><tr>
                              <td>updated_at</td>
                              <td>date</td>
                              <td>==, !=, =in=, =out=, =gt=, =ge=, =lt=, =le=</td></tr><tr>
                              <td>entity_id</td>
                              <td>string</td>
                              <td>==, !=, =in=, =out=, =regex=</td></tr>
                              <td>is_default</td>
                              <td>boolean</td>
                              <td>==, !=</td></tr>
              </tbody>
          </table>
          <p> Note: </p>
          <table>
              <thead>
                  <tr>
                      <th>Operator</th>
                      <th>Description</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>==</td>
                      <td>equal</td>
                  </tr>
                  <tr>
                      <td>!=</td>
                      <td>not equal</td>
                  </tr>
                  <tr>
                      <td>=lt=</td>
                      <td>less than</td>
                  </tr>
                  <tr>
                      <td>=le=</td>
                      <td>less than and equal to</td>
                  </tr>
                  <tr>
                      <td>=gt=</td>
                      <td>greater than</td>
                  </tr>
                  <tr>
                      <td>=ge=</td>
                      <td>greater than and equal to</td>
                  </tr>
                  <tr>
                      <td>=regex=</td>
                      <td>pattern matching</td>
                  </tr>
                  <tr>
                      <td>=contains=</td>
                      <td>case insensitive substring matching</td>
                  </tr>
                  <tr>
                      <td>=in=</td>
                      <td>multiple arguments search</td>
                  </tr>
                  <tr>
                      <td>=out=</td>
                      <td>exclude</td>
                  </tr>
                  <tr>
                      <td><b>;</b></td>
                      <td>Logical AND</td>
                  </tr>
                  <tr>
                      <td><b>,</b></td>
                      <td>Logical OR</td>
                  </tr>
              </tbody>
          </table>
          <p>Note: Parenthesis can be used to determine the precedence of the operator.</p>
          <p>
              Example for count theme:
              <ul>
                  <li>
                      <p>/v2/theme/count?<b>search=<br>
                      entity_id==a6b45428-0296-4394-8ddd-0b50b5b20aa9<br>
                  </li>
                  </br>
              </ul>
          </p>
          </div>
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model35'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model29'
  /v2/image:
    post:
      tags:
      - Theming
      summary: Upload image

      operationId: postV2Image
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model65'
        required: false
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model66'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model26'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model27'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model28'
        413:
          description: Request Entity Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model67'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model29'
      x-codegen-request-body-name: body
  /v2/checkout/{checkoutId}/notification:
    post:
      tags:
        - Checkout
      summary: Create a Checkout Notification
      security:
        - BasicAuth: []
        - BearerAuth: []
      operationId: postV2CheckoutCheckoutidNotification
      parameters:
        - name: checkoutId
          in: path
          description: Checkout ID
          required: true
          schema:
            type: string
            x-format:
              guid: true
          x-format:
            guid: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model76'
        required: false
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: body
components:
  schemas:
    consentTextDynamicValues:
      type: array
      description: Optional merchant provided links to be inserted in consent text
        as a link for the text in brackets.
      items:
        type: string
    details:
      type: object
    Model4:
      required:
      - id
      - timestamp
      - type
      type: object
      properties:
        type:
          maxLength: 256
          type: string
          description: Type of event which occurred
        id:
          type: string
          description: Id of the event
          x-format:
            guid: true
        timestamp:
          type: string
          description: Time at which the event occurred
          format: date
        details:
          $ref: '#/components/schemas/details'
    events:
      type: array
      items:
        $ref: '#/components/schemas/Model4'
    threed_secure:
      required:
      - enabled
      - threeds_contract_id
      type: object
      description: Used for <a target="_blank" href="https://verifone.cloud/docs/online-payments/checkout/overview/card/accepting-3d-secure">3D-Secure payments</a>
      properties:
        account_age_indicator:
          type: string
          description: 'Length of time cardholder has had account. <br /> Possible
            Values: <br />  * 01 - No account <br />  * 02 - Created during transaction
            <br />  * 03 - Less than 30 days <br />  * 04 - 30-60 days <br />  * 05
            - More than 60 days <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
        account_create_date:
          type: string
          description: 'Date the cardholder opened the account. `Format: YYYYMMDD`'
          format: date
        account_change_indicator:
          type: string
          description: 'Length of time since the last change to the cardholder account.
            This includes shipping address, <br /> new payment account or new user
            added. Possible Values: <br /> * 01 - Changed during transaction <br />
            * 02 - Less than 30 days <br /> * 03 - 30-60 days <br /> * 04 - More than
            60 days <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
        account_change_date:
          type: string
          description: "Date the cardholder's account was last changed. This includes
            changes to the billing or shipping address, new payment accounts or new
            users added.` Format: YYYYMMDD` <br />"
          format: date
        account_pwd_change_indicator:
          type: string
          description: 'Length of time since the cardholder changed or reset the password
            on the account. <br />  Possible Values: <br />  * 01 - No change <br
            />  * 02 - Changed during transaction <br />  * 03 - Less than 30 days
            <br />  * 04 - 30-60 days <br />  * 05 - More than 60 days <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
        account_pwd_change_date:
          type: string
          description: 'Date the cardholder last changed or reset password on account.
            `Format: YYYYMMDD`'
          format: date
        account_id:
          maxLength: 64
          type: string
          description: Additional cardholder account information.
        account_purchases:
          maximum: 9999
          type: integer
          description: Number of purchases with this cardholder account during the
            previous six months.
        acs_window_size:
          type: string
          description: 'An override field that a merchant can pass in to set the challenge
            window size to display to the end <br /> cardholder.The ACS will reply
            with content that is formatted appropriately to this window size to allow
            <br /> for the best user experience. The sizes are width x height in pixels
            of the window displayed in <br /> the cardholder browser window. Possible
            values: <br />  * 01 - 250x400 <br />  * 02 - 390x400 <br />  * 03 - 500x600
            <br />  * 04 - 600x400 <br />  * 05 - Full page <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
        add_card_attempts:
          maximum: 999
          type: integer
          description: Number of add card attempts in the last 24 hours.
        address_match:
          type: string
          description: 'Indicates whether cardholder billing and shipping addresses
            match. <br /> Possible Values: <br />  * Y - Shipping address matches
            billing address <br />  * N - Shipping address does not match billing
            address <br />'
          enum:
          - Y
          - N
        alternate_authentication_method:
          type: string
          description: 'Mechanism used by the cardholder to authenticate to the 3DS
            requester. <br />  Possible Values: <br />  * 01 - No authentication occurred
            (e.g. Guest Checkout) <br />  * 02 - Login to the cardholder account at
            the Merchant system using Merchant system credentials <br />  * 03 - Login
            to the cardholder account at the Merchant system using a Federated ID
            <br />  * 04 - Login to the cardholder account at the Merchant system
            using Issuer credentials <br />  * 05 - Login to the cardholder account
            at the Merchant system using third-party authentication <br />  * 06 -
            Login to the cardholder account at the Merchant system using FIDO Authenticator
            <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
          - "06"
        alternate_authentication_date:
          type: string
          description: 'Date and time in UTC of the cardholder authentication. ` Format:
            YYYYMMDDHHMM`'
          format: date
        alternate_authentication_data:
          maxLength: 2048
          type: string
          description: Data that documents and supports a specific authentication
            <br /> process that was sent in the AlternateAuthenticationMethod field.
            <br />
        threeds_contract_id:
          maxLength: 36
          type: string
          description: The ID of the threeDSContract used.
          x-format:
            guid: true
        authentication_indicator:
          type: string
          description: Indicates the type of Authentication request. 01 - Payment
            transaction <br />  02 - Recurring transaction  <br />  03 - Installment
            transaction  <br />  04 - Add card  <br />  05 - Maintain card  <br />  06
            - Cardholder verification as part of EMV token ID&V <br />
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
          - "06"
        category_code:
          maximum: 9999
          type: integer
          description: 'Merchant category code (MCC) NOTE: This field is required
            by Mastercard and VISA Brazil extensions. <br />'
        challenge_indicator:
          type: string
          description: 'NOTE: This is a 2.0 required field, Cardinal will default
            to 01 on Merchant Configuration <br /> - can be overridden by the merchant.
            Possible Values: <br /> * 01 - No preference <br /> * 02 - No challenge
            requested <br /> * 03 - Challenge requested (3DS Requestor Preference)
            <br /> * 04 - Challenge requested (Mandate) <br /> * 90 - CB specific
            value <br />'
          default: "01"
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "90"
        delivery_email:
          maxLength: 255
          type: string
          description: For electronic delivery, email address to which the merchandise
            was delivered.
          x-format:
            email:
              minDomainSegments: 2
        delivery_time_frame:
          type: string
          description: 'Indicates the delivery timeframe.  <br /> Possible Values:
            <br />  * 01 - Electronic delivery <br />  * 02 - Same day shipping <br
            />  * 03 - Overnight shipping <br />  * 04 - Two or more day shipping
            <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
        enabled:
          type: boolean
          description: Whether 3DS should be used.
        fraud_activity:
          type: string
          description: 'Indicates whether the merchant experienced suspicious activity
            (including previous fraud) on the account. <br /> Possible Values: <br
            />  * 01 - No suspicious activity <br />  * 02 - Suspicious activity observed
            <br />'
          enum:
          - "01"
          - "02"
        gift_card_amount:
          maximum: 999999999999999
          type: integer
          description: 'The purchase amount total for prepaid gift cards in major
            units. <br /> Example: $123.45 USD = 12345 <br />'
        gift_card_currency_code:
          maxLength: 3
          minLength: 3
          type: string
          description: ISO 4217 currency code for the gift card purchased.
        gift_card_count:
          maximum: 99
          type: integer
          description: Total count of individual prepaid gift cards purchased.
        installment:
          maximum: 999
          minimum: 2
          type: number
          description: Indicates the maximum number of authorizations for installment
            payments. An integer value greater than 1 indicating the maximum number
            of permitted authorizations for installment payments. ** Required for
            Recurring and Installment transactions, when authenticationIndicator="02"
            & "03" **
        message_category:
          type: string
          description: 'Category of the message for a specific use case. <br />  Possible
            Values: <br />  * 01 - PA (payment) <br />  * 02 - NPA (non payment) <br
            />  NOTE: Default is payment (01). Configured on Merchant account, or
            can be overridden on transaction. <br />'
          enum:
          - "01"
          - "02"
        payment_use_case:
          type: string
          description: 'Indicates the type of payment.The value from this field will
            be mapped to the data field on the CB-USECASE extension <br />  Possible
            Values: <br />  * 01 - Single Payment <br />  * 02 - Fixed Amount and
            Term Subscription <br />  * 03 - Payment By Instalments <br />  * 04 -
            Payment By Shipment <br />  * 05 - Other Recurring Payments <br />  NOTE:
            Required for CB transactions (Required if message_category = 01, or message_category
            = 02 and authentication_indicator = 02 or 03 <br />'
          default: "01"
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
        payment_account_indicator:
          type: string
          description: 'Indicates the length of time that the payment account was
            enrolled in the merchant account. <br /> Possible Values: <br />  * 01
            - No account (guest checkout) <br />  * 02 - During the transaction <br
            />  * 03 - Less than 30 days <br />  * 04 - 30-60 days <br />  * 05 -
            More than 60 days <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
        payment_account_age:
          type: string
          description: 'Date the payment account was added to the cardholder account.
            ` Format: YYYYMMDD`'
          format: date
        pre_order_indicator:
          type: string
          description: 'Indicates whether cardholder is placing an order with a future
            availability or release date. <br />  Possible Values: <br />  * 01 -
            Merchandise available <br />  * 02 - Future availability <br />'
          enum:
          - "01"
          - "02"
        pre_order_date:
          type: string
          description: 'Expected date that a pre-ordered purchase will be available.
            `Format: YYYYMMDD`'
          format: date
        prior_authentication_data:
          maxLength: 2048
          type: string
          description: This field carry data that the ACS can use to verify the authentication
            process
        prior_authentication_method:
          type: string
          description: Mechanism used by the Cardholder to previously authenticate
            to the 3DS Requestor. <br />  * 01 - Frictionless authentication occurred
            by ACS <br />  * 02 - Cardholder challenge occurred by ACS <br />  * 03
            - AVS verified <br />  * 04 - Other issuer methods <br />
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
        prior_authentication_time:
          type: string
          description: 'Date and time in UTC of the prior cardholder authentication.
            ` Format: YYYYMMDDHHMM`'
          format: date
        prior_authentication_ref:
          maxLength: 36
          type: string
          description: This data element contains a ACS Transaction ID for a prior
            authenticated transaction. <br /> For example, the first recurring transaction
            that was authenticated with the cardholder <br />
        product_code:
          type: string
          description: 'Merchant product code.  <br /> Possible Values:  <br />  *
            PHY - Goods/Service Purchase  <br />  * CHA - Check Acceptance  <br />  *
            ACF - Account Funding  <br />  * QCT - Quasi-Cash Transaction  <br />  *
            PAL - Prepaid Activation and Load  <br /> NOTE: This value defaults to
            PHY. This field can be used to override that value if applicable.  <br
            />'
          enum:
          - PHY
          - CHA
          - ACF
          - QCT
          - PAL
        recurring_end:
          type: string
          description: 'The date after which no further recurring authorizations should
            be performed. `Format: YYYYMMDD` ** Required for Recurring and Installment
            transactions, when authenticationIndicator="02" & "03" **'
          format: date
        recurring_frequency:
          maximum: 9999
          type: number
          description: 'Conditional: Integer value indicating the minimum number of
            days between recurring authorizations. A frequency of monthly is indicated
            by the value 28. Multiple of 28 days will be used to indicate months.
            Example: 6 months = 168 ** Required for Recurring and Installment transactions,
            when authenticationIndicator="02" & "03" **'
        reorder_indicator:
          type: string
          description: 'Indicates whether cardholder is placing an order with a future
            availability or release date. <br />  Possible Values: <br />  * 01 -
            Merchandise available <br />  * 02 - Future availability <br />'
          enum:
          - "01"
          - "02"
        requestor_id:
          maxLength: 35
          type: string
          description: 'This value is a Directory Server assigned 3DS Requestor Name
            value, each DS may provide a unique ID. <br /> NOTE: This is a 2.0 value
            only and if passed will override the Requestor Name value that is, <br
            /> configured on the Merchant''s profile.'
        requestor_name:
          maxLength: 40
          type: string
          description: 'This value is a Directory Server assigned 3DS Requestor Name
            value, each DS may provide a unique ID. <br /> NOTE: This is a 2.0 value
            only and if passed will override the Requestor Name value that is configured
            <br /> on the Merchant''s profile.'
        shipping_address_usage_indicator:
          type: string
          description: 'Indicates when the shipping address used for transaction was
            first used. <br /> Possible Values: <br />  * 01 - This transaction <br
            />  * 02 - Less than 30 days <br />  * 03 - 30-60 days <br />  * 04 -
            More than 60 days <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
        shipping_address_usage_date:
          type: string
          description: 'Date when the shipping address used for this transaction was
            first used. <br />  `Format: YYYYMMDD` <br />'
          format: date
        shipping_method_indicator:
          type: string
          description: 'Indicates shipping method chosen for the transaction. <br
            />  Possible Values:  <br />  * 01 - Ship to cardholder billing address
            <br />  * 02 - Ship to another verified address on file with merchant
            <br />  * 03 - Ship to address that is different than billing address
            <br />  * 04 - Ship to store (store address should be populated on request)
            <br />  * 05 - Digital goods <br />  * 06 - Travel and event tickets,
            not shipped <br />  * 07 - Other <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
          - "06"
          - "07"
        shipping_name_indicator:
          type: string
          description: 'Indicates if the cardholder name on the account is identical
            to the <br /> shipping name used for the transaction. Possible Values:
            <br /> * 01 - Account and shipping name identical <br /> * 02 - Account
            and shipping name differ <br />'
          enum:
          - "01"
          - "02"
        total_items:
          pattern: ^[0-9]{2}$
          type: string
          description: Total items in the shopping cart of the shopper
        merchant_score:
          maxLength: 20
          type: string
          description: Merchant score
          x-format:
            alphanum: true
        transaction_count_day:
          maximum: 999
          type: integer
          description: Number of transactions (successful or abandoned) for this cardholder
            account within the last 24 hours. <br />
        transaction_count_year:
          maximum: 999
          type: integer
          description: Number of transactions (successful or abandoned) for this cardholder
            account within the last year. <br />
        transaction_mode:
          type: string
          description: 'Transaction mode identifier. Identifies the channel the transaction
            originates from. Available Options: <br /> M - Moto (Mail Order Telephone
            Order) <br /> P - Mobile Device <br /> R - Retail (Physical Store) <br
            /> S - Computer Device <br /> T - Tablet Device <br />'
          enum:
          - M
          - P
          - R
          - S
          - T
        version:
          type: string
          description: This field contains the 3DS version that can be leveraged to
            force a transaction down the 1.0 rails.
          enum:
          - 1.0.2
    card_brand:
      type: array
      items:
        type: string
    token_details:
      type: object
      properties:
        reuse_token:
          maxLength: 4096
          type: string
          description: The identifier used to represent the Cardholder data.
        analytics_token:
          maxLength: 4096
          type: string
          description: A token that cannot be reversed to Card Holder data. This is
            included in a Payment for auditing and tracking purposes.
    Model8:
      required:
      - max_number_of_instalments
      type: object
      properties:
        max_number_of_instalments:
          minimum: 1
          type: integer
          description: The number of individual parts that the total amount should
            be paid in
        down_payment_amount:
          maximum: 9007199254740991
          minimum: 0
          type: integer
          description: An integer value for down payment amount
      description:  The details on the instalment scheme that should be enacted by the issuer. Only applicable for ABS Acquirer.
    CVV:
      type: object
      properties:
        validation_rule:
          type: string
          default: NONE
          enum:
          - NONE
          - LUHN
        usage:
          type: string
          default: REQUIRED
          enum:
          - REQUIRED
          - PROHIBITED
    Model9:
      type: object
      properties:
        CVV:
          $ref: '#/components/schemas/CVV'
        CREDIT_TERM:
          $ref: '#/components/schemas/CVV'
        IDENTITY_CARD_NUMBER:
          $ref: '#/components/schemas/CVV'
    instalment_used:
      type: object
      properties:
        instalment_amount:
          maximum: 9007199254740991
          minimum: 0
          type: integer
          description: An integer value for instalment amount
        down_payment_amount:
          maximum: 9007199254740991
          minimum: 0
          type: integer
          description: An integer value for down payment amount
        number_of_instalments:
          type: integer
          description: The number of individual parts that the total amount should
            be paid in
      description:  The details on the instalment scheme that should be enacted by the issuer. Only applicable for ABS Acquirer.
        the issuer.
    payment_contract_id:
      oneOf:
        - type: string
          description: This parameter can be found in the portal on the Payment Provider Contract attached to your organization or given to you by a Verifone employee. It is used to retrieve MID and other merchant configurations necessary for a card payment.
        - type: object
          $ref: '#/x-alt-definitions/paymentContractId'
    payment_frequency:
      type: object
      description: Payment frequencies. Used only for processing_model=RECURRING
      properties:
        time_unit:
          type: string
          description: must be one of  DAY WEEK MONTH YEAR
          enum:
          - DAY
          - WEEK
          - MONTH
          - YEAR
        value:
          type: number
    processing_model_details:
      required:
      - processing_model
      type: object
      properties:
        processing_model:
          type: string
          description: <br />  * RECURRING - allows only for RECURRING subsequent charges to be done.
            <br />  * NONE - does not specify what is the type of subsequent charges. Only allows CREDENTIAL_ON_FILE and UNSCHEDULED_CREDENTIAL_ON_FILE charges.
            <br />  * If it is RECURRING for SIGNUP should be RECURRING FOR CHARGE TOO.
            <br />  * If it is NONE for SIGNUP should be CREDENTIAL_ON_FILE or UNSCHEDULED_CREDENTIAL_ON_FILE FOR CHARGE.
          enum:
          - RECURRING
          - NONE
        total_payment_number:
          maximum: 9007199254740991
          minimum: 0
          type: integer
          description: Total number of payments for the stored credential series.
            Usage applies to specific acquirers. Used only for processing_model=RECURRING
        total_payment_amount:
          maximum: 9007199254740991
          minimum: 0
          type: integer
          description: Total amount for all the payments in the stored credential
            series. Usage applies to specific acquirers. Used only for processing_model=RECURRING
        first_payment_amount:
          maximum: 9007199254740991
          minimum: 0
          type: integer
          description: Amount of first payment for the stored credential series. Usage
            applies to specific acquirers. Used only for processing_model=RECURRING
        payment_frequency:
          $ref: '#/components/schemas/payment_frequency'
        merchant_signup_code:
          type: string
          description: Merchant signup code for the stored credential series. Usage
            applies to specific acquirers. Used only for processing_model=NONE
    stored_credential:
      required:
      - processing_model_details
      - stored_credential_type
      type: object
      description: Used for transactions with <a target="_blank" href="https://verifone.cloud/docs/online-payments/stored-credentials">Stored Credentials</a>
      properties:
        stored_credential_type:
          type: string
          description: must be one of  SIGNUP CHARGE
          enum:
          - SIGNUP
          - CHARGE
        first_payment:
          type: boolean
          description: |
            Set to true if this signup request also is the first payment.
            Most relevant for signup using a minor amount, to indicate if that minor amount is just a signup account verification amount or an actual first payment amount as well.
            Default on this endpoint is that zero amount is not a payment, but any amount provided is a payment.
            Use this indicator to explicitly tell the intention.
        consent_text:
          maxLength: 2048
          pattern: '[\p{L}\p{N}.,_\-+\s\\{\\}]'
          type: string
          description: Optional merchant provided text to display to the shopper as
            a checkbox, requiring their consent for the given sign up, detailing the
            terms at which the shopper agrees to be charged in the future. If not
            provided, there will be no consent checkbox.
        consent_text_dynamic_values:
          $ref: '#/components/schemas/consentTextDynamicValues'
        processing_model_details:
          $ref: '#/components/schemas/processing_model_details'
        reference:
          type: string
        scheme_reference:
          type: string
    additional_business_data:
      type: object
      properties:
        addendum1:
          maxLength: 300
          type: string
          description: Additional field 1 for processor data.
        addendum2:
          maxLength: 300
          type: string
          description: Additional field 2 for processor data.
      description: Merchant defined additional data fields for ABS Acquirer.
    Model10:
      required:
      - payment_contract_id
      type: object
      properties:
        dynamic_descriptor:
          maxLength: 25
          type: string
          description: Value is displayed as short text on the bank statement of the cardholder
        account_validation:
          type: boolean
          description: 'Indicates whether the card transaction should be processed
            as Account Validation request instead. If set to true, the amount provided
            for the Checkout would be ignored and the transaction be processed with
            amount: 0'
          default: false
        capture_now:
          type: boolean
          description: Indicates whether the transaction should be sent as auth or
            authCapture
          default: true
        cvv_required:
          type: boolean
          description: Indicates whether cvv is required
          default: false
        authorization_type:
          type: string
          description: Card Authorization Type.
          enum:
          - PRE_AUTH
          - FINAL_AUTH
        shopper_interaction:
          $ref: '#/components/schemas/Model86'
        payment_contract_id:
          $ref: '#/components/schemas/payment_contract_id'
        token_preference:
          $ref: '#/x-alt-definitions/card_token_preference'
        threed_secure:
          $ref: '#/components/schemas/threed_secure'
        mode:
          $ref: '#/components/schemas/card_mode'
        card_capture_mode:
          $ref: '#/components/schemas/card_capture_mode'
        card_token:
          maxLength: 2048
          type: string
          description: '*Only applicable for Tokenisation v1* Card token representing
            the card used by a customer to fill in the form. In case that Customer
            retries the payment with different card(s), only the last one '
        card_last_four:
          maxLength: 4
          minLength: 4
          type: string
          description: '*Only applicable for Tokenisation v1* Last four digits of
            the card number used by the customer. In case that Customer retries the
            payment with different card(s), its always the last one'
        card_expiry_year:
          pattern: \d{2}
          type: string
          description: '*Only applicable for Tokenisation v1* Card expiry year'
        card_expiry_month:
          pattern: ^(0[1-9]|1[012])$
          type: string
          description: '*Only applicable for Tokenisation v1* Card expiry month'
        card_brand:
          $ref: '#/components/schemas/card_brand'
        card_encryption_key_alias:
          maxLength: 2048
          type: string
          description: '*Only applicable for Tokenisation v2* Public Key alias used
            for card encryption'
        threeds_authentication_id:
          type: string
          description: 3DS Authentication ID. Only available if 3DS was configured
            and performed via the Checkout.
          x-format:
            guid: true
        token_details:
          $ref: '#/components/schemas/token_details'
        credit_term:
          type: string
          description: 'Determines whether the transaction type for ABS. Available
            Options: <br /> STANDARD- Sale <br /> PREFERRED - Sale - Preferred Isracard
            <br /> DEBIT - Sale - Direct Debit <br /> INSTALMENT_STANDARD- Instalment
            standard<br /> INSTALMENT_CREDIT- Instalment credit<br />'
          enum:
          - DEBIT
          - STANDARD
          - PREFERRED
          - INSTALMENT_CREDIT
          - INSTALMENT_STANDARD
        credit_term_used:
          type: string
          description: 'Determines whether the transaction type for ABS. Available
            Options: <br /> STANDARD- Sale <br /> PREFERRED - Sale - Preferred Isracard
            <br /> DEBIT - Sale - Direct Debit <br /> INSTALMENT_STANDARD- Instalment
            standard<br /> INSTALMENT_CREDIT- Instalment credit<br />'
          enum:
          - DEBIT
          - STANDARD
          - PREFERRED
          - INSTALMENT_CREDIT
          - INSTALMENT_STANDARD
        instalment:
          $ref: '#/components/schemas/Model8'
        input_overrides:
          $ref: '#/components/schemas/Model9'
        instalment_used:
          $ref: '#/components/schemas/instalment_used'
        stored_credential:
          $ref: '#/components/schemas/stored_credential'
        reuse_token:
          maxLength: 4096
          type: string
          description: The identifier used to represent the Cardholder data.
        encrypted_card:
          maxLength: 4096
          type: string
          description: Encrypted card details
        additional_business_data:
          $ref: '#/components/schemas/additional_business_data'
      description: Card payment configuration
    Model11:
      required:
      - payment_contract_id
      type: object
      properties:
        payment_contract_id:
          type: string
          description: This parameter can be found in the portal on the Payment Provider Contract attached to your organization or given to you by a Verifone employee. It is used to retrieve MID and other merchant configurations necessary for a card payment.
          x-format:
            guid: true
        shopper_interaction:
          $ref: '#/components/schemas/Model86'
        card_encryption_key_alias:
          type: string
          description: Public Key alias used for card/code encryption
      description: GPP2 payment configuration
    application_context:
      type: object
      properties:
        landing_page:
          type: string
          description: The type of landing page to show on the PayPal site for customer
            checkout
          enum:
          - BILLING
          - LOGIN
          - NO_PREFERENCE
        brand_name:
          maxLength: 127
          type: string
          description: The label that overrides the business name in the PayPal account
            on the PayPal site.
        locale:
          maxLength: 10
          minLength: 2
          pattern: ^[a-z]{2}(?:-[A-Z][a-z]{3})?(?:-(?:[A-Z]{2}))?$
          type: string
          description: The BCP 47-formatted locale of pages that the PayPal payment
            experience shows.PayPal supports a five-character code. For example, da-DK,
            he-IL, id-ID, ja-JP, no-NO, pt-BR, ru-RU, sv-SE, th-TH, zh-CN, zh-HK,
            or zh-TW.
    Model12:
      required:
      - payment_contract_id
      type: object
      properties:
        dynamic_descriptor:
          maxLength: 2048
          type: string
          description: Value is displayed as short text on the bank statement of the cardholder
        capture_now:
          type: boolean
          description: Indicates whether the transaction should be sent as auth or
            authCapture
          default: true
        payment_contract_id:
          type: string
          description: This parameter can be found in the portal on the Payment Provider Contract attached to your organization or given to you by a Verifone employee. It is used to retrieve MID and other merchant configurations necessary for a card payment.
          x-format:
            guid: true
        description:
          maxLength: 2048
          type: string
          description: paypal request description
        application_context:
          $ref: '#/components/schemas/application_context'
      description: Paypal payment configuration
    Model13:
      description: Used for <a target="_blank" href="https://verifone.cloud/docs/online-payments/checkout/overview/card/accepting-3d-secure">3D-Secure payments</a>
      required:
      - threeds_contract_id
      - transaction_mode
      type: object
      properties:
        account_age_indicator:
          type: string
          description: 'Length of time cardholder has had account. <br /> Possible
            Values: <br />  * 01 - No account <br />  * 02 - Created during transaction
            <br />  * 03 - Less than 30 days <br />  * 04 - 30-60 days <br />  * 05
            - More than 60 days <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
        account_create_date:
          type: string
          description: 'Date the cardholder opened the account. `Format: YYYYMMDD`'
          format: date
        account_change_indicator:
          type: string
          description: 'Length of time since the last change to the cardholder account.
            This includes shipping address, <br /> new payment account or new user
            added. Possible Values: <br /> * 01 - Changed during transaction <br />
            * 02 - Less than 30 days <br /> * 03 - 30-60 days <br /> * 04 - More than
            60 days <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
        account_change_date:
          type: string
          description: "Date the cardholder's account was last changed. This includes
            changes to the billing or shipping address, new payment accounts or new
            users added.` Format: YYYYMMDD` <br />"
          format: date
        account_pwd_change_indicator:
          type: string
          description: 'Length of time since the cardholder changed or reset the password
            on the account. <br />  Possible Values: <br />  * 01 - No change <br
            />  * 02 - Changed during transaction <br />  * 03 - Less than 30 days
            <br />  * 04 - 30-60 days <br />  * 05 - More than 60 days <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
        account_pwd_change_date:
          type: string
          description: 'Date the cardholder last changed or reset password on account.
            `Format: YYYYMMDD`'
          format: date
        account_id:
          maxLength: 64
          type: string
          description: Additional cardholder account information.
        account_purchases:
          maximum: 9999
          type: integer
          description: Number of purchases with this cardholder account during the
            previous six months.
        acs_window_size:
          type: string
          description: 'An override field that a merchant can pass in to set the challenge
            window size to display to the end <br /> cardholder.The ACS will reply
            with content that is formatted appropriately to this window size to allow
            <br /> for the best user experience. The sizes are width x height in pixels
            of the window displayed in <br /> the cardholder browser window. Possible
            values: <br />  * 01 - 250x400 <br />  * 02 - 390x400 <br />  * 03 - 500x600
            <br />  * 04 - 600x400 <br />  * 05 - Full page <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
        add_card_attempts:
          maximum: 999
          type: integer
          description: Number of add card attempts in the last 24 hours.
        address_match:
          type: string
          description: 'Indicates whether cardholder billing and shipping addresses
            match. <br /> Possible Values: <br />  * Y - Shipping address matches
            billing address <br />  * N - Shipping address does not match billing
            address <br />'
          enum:
          - Y
          - N
        alternate_authentication_method:
          type: string
          description: 'Mechanism used by the cardholder to authenticate to the 3DS
            requester. <br />  Possible Values: <br />  * 01 - No authentication occurred
            (e.g. Guest Checkout) <br />  * 02 - Login to the cardholder account at
            the Merchant system using Merchant system credentials <br />  * 03 - Login
            to the cardholder account at the Merchant system using a Federated ID
            <br />  * 04 - Login to the cardholder account at the Merchant system
            using Issuer credentials <br />  * 05 - Login to the cardholder account
            at the Merchant system using third-party authentication <br />  * 06 -
            Login to the cardholder account at the Merchant system using FIDO Authenticator
            <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
          - "06"
        alternate_authentication_date:
          type: string
          description: 'Date and time in UTC of the cardholder authentication. ` Format:
            YYYYMMDDHHMM`'
          format: date
        alternate_authentication_data:
          maxLength: 2048
          type: string
          description: Data that documents and supports a specific authentication
            <br /> process that was sent in the AlternateAuthenticationMethod field.
            <br />
        threeds_contract_id:
          maxLength: 36
          type: string
          description: The ID of the threeDSContract used.
          x-format:
            guid: true
        authentication_indicator:
          type: string
          description: Indicates the type of Authentication request. 01 - Payment
            transaction <br />  02 - Recurring transaction  <br />  03 - Installment
            transaction  <br />  04 - Add card  <br />  05 - Maintain card  <br />  06
            - Cardholder verification as part of EMV token ID&V <br />
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
          - "06"
        category_code:
          maximum: 9999
          type: integer
          description: 'Merchant category code (MCC) NOTE: This field is required
            by Mastercard and VISA Brazil extensions. <br />'
        challenge_indicator:
          type: string
          description: 'NOTE: This is a 2.0 required field, Cardinal will default
            to 01 on Merchant Configuration <br /> - can be overridden by the merchant.
            Possible Values: <br /> * 01 - No preference <br /> * 02 - No challenge
            requested <br /> * 03 - Challenge requested (3DS Requestor Preference)
            <br /> * 04 - Challenge requested (Mandate) <br /> * 90 - CB specific
            value <br />'
          default: "01"
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "90"
        delivery_email:
          maxLength: 255
          type: string
          description: For electronic delivery, email address to which the merchandise
            was delivered.
          x-format:
            email:
              minDomainSegments: 2
        delivery_time_frame:
          type: string
          description: 'Indicates the delivery timeframe.  <br /> Possible Values:
            <br />  * 01 - Electronic delivery <br />  * 02 - Same day shipping <br
            />  * 03 - Overnight shipping <br />  * 04 - Two or more day shipping
            <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
        enabled:
          type: boolean
          description: Whether 3DS should be used.
          default: true
        fraud_activity:
          type: string
          description: 'Indicates whether the merchant experienced suspicious activity
            (including previous fraud) on the account. <br /> Possible Values: <br
            />  * 01 - No suspicious activity <br />  * 02 - Suspicious activity observed
            <br />'
          enum:
          - "01"
          - "02"
        gift_card_amount:
          maximum: 999999999999999
          type: integer
          description: 'The purchase amount total for prepaid gift cards in major
            units. <br /> Example: $123.45 USD = 12345 <br />'
        gift_card_currency_code:
          maxLength: 3
          minLength: 3
          type: string
          description: ISO 4217 currency code for the gift card purchased.
        gift_card_count:
          maximum: 99
          type: integer
          description: Total count of individual prepaid gift cards purchased.
        installment:
          maximum: 999
          minimum: 2
          type: number
          description: Indicates the maximum number of authorizations for installment
            payments. An integer value greater than 1 indicating the maximum number
            of permitted authorizations for installment payments. ** Required for
            Recurring and Installment transactions, when authenticationIndicator="02"
            & "03" **
        message_category:
          type: string
          description: 'Category of the message for a specific use case. <br />  Possible
            Values: <br />  * 01 - PA (payment) <br />  * 02 - NPA (non payment) <br
            />  NOTE: Default is payment (01). Configured on Merchant account, or
            can be overridden on transaction. <br />'
          enum:
          - "01"
          - "02"
        payment_use_case:
          type: string
          description: 'Indicates the type of payment.The value from this field will
            be mapped to the data field on the CB-USECASE extension <br />  Possible
            Values: <br />  * 01 - Single Payment <br />  * 02 - Fixed Amount and
            Term Subscription <br />  * 03 - Payment By Instalments <br />  * 04 -
            Payment By Shipment <br />  * 05 - Other Recurring Payments <br />  NOTE:
            Required for CB transactions (Required if message_category = 01, or message_category
            = 02 and authentication_indicator = 02 or 03 <br />'
          default: "01"
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
        payment_account_indicator:
          type: string
          description: 'Indicates the length of time that the payment account was
            enrolled in the merchant account. <br /> Possible Values: <br />  * 01
            - No account (guest checkout) <br />  * 02 - During the transaction <br
            />  * 03 - Less than 30 days <br />  * 04 - 30-60 days <br />  * 05 -
            More than 60 days <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
        payment_account_age:
          type: string
          description: 'Date the payment account was added to the cardholder account.
            ` Format: YYYYMMDD`'
          format: date
        pre_order_indicator:
          type: string
          description: 'Indicates whether cardholder is placing an order with a future
            availability or release date. <br />  Possible Values: <br />  * 01 -
            Merchandise available <br />  * 02 - Future availability <br />'
          enum:
          - "01"
          - "02"
        pre_order_date:
          type: string
          description: 'Expected date that a pre-ordered purchase will be available.
            `Format: YYYYMMDD`'
          format: date
        prior_authentication_data:
          maxLength: 2048
          type: string
          description: This field carry data that the ACS can use to verify the authentication
            process
        prior_authentication_method:
          type: string
          description: Mechanism used by the Cardholder to previously authenticate
            to the 3DS Requestor. <br />  * 01 - Frictionless authentication occurred
            by ACS <br />  * 02 - Cardholder challenge occurred by ACS <br />  * 03
            - AVS verified <br />  * 04 - Other issuer methods <br />
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
        prior_authentication_time:
          type: string
          description: 'Date and time in UTC of the prior cardholder authentication.
            ` Format: YYYYMMDDHHMM`'
          format: date
        prior_authentication_ref:
          maxLength: 36
          type: string
          description: This data element contains a ACS Transaction ID for a prior
            authenticated transaction. <br /> For example, the first recurring transaction
            that was authenticated with the cardholder <br />
        product_code:
          type: string
          description: 'Merchant product code.  <br /> Possible Values:  <br />  *
            PHY - Goods/Service Purchase  <br />  * CHA - Check Acceptance  <br />  *
            ACF - Account Funding  <br />  * QCT - Quasi-Cash Transaction  <br />  *
            PAL - Prepaid Activation and Load  <br /> NOTE: This value defaults to
            PHY. This field can be used to override that value if applicable.  <br
            />'
          enum:
          - PHY
          - CHA
          - ACF
          - QCT
          - PAL
        recurring_end:
          type: string
          description: 'The date after which no further recurring authorizations should
            be performed. `Format: YYYYMMDD` ** Required for Recurring and Installment
            transactions, when authenticationIndicator="02" & "03" **'
          format: date
        recurring_frequency:
          maximum: 9999
          type: number
          description: 'Conditional: Integer value indicating the minimum number of
            days between recurring authorizations. A frequency of monthly is indicated
            by the value 28. Multiple of 28 days will be used to indicate months.
            Example: 6 months = 168 ** Required for Recurring and Installment transactions,
            when authenticationIndicator="02" & "03" **'
        reorder_indicator:
          type: string
          description: 'Indicates whether cardholder is placing an order with a future
            availability or release date. <br />  Possible Values: <br />  * 01 -
            Merchandise available <br />  * 02 - Future availability <br />'
          enum:
          - "01"
          - "02"
        requestor_id:
          maxLength: 35
          type: string
          description: 'This value is a Directory Server assigned 3DS Requestor Name
            value, each DS may provide a unique ID. <br /> NOTE: This is a 2.0 value
            only and if passed will override the Requestor Name value that is, <br
            /> configured on the Merchant''s profile.'
        requestor_name:
          maxLength: 40
          type: string
          description: 'This value is a Directory Server assigned 3DS Requestor Name
            value, each DS may provide a unique ID. <br /> NOTE: This is a 2.0 value
            only and if passed will override the Requestor Name value that is configured
            <br /> on the Merchant''s profile.'
        shipping_address_usage_indicator:
          type: string
          description: 'Indicates when the shipping address used for transaction was
            first used. <br /> Possible Values: <br />  * 01 - This transaction <br
            />  * 02 - Less than 30 days <br />  * 03 - 30-60 days <br />  * 04 -
            More than 60 days <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
        shipping_address_usage_date:
          type: string
          description: 'Date when the shipping address used for this transaction was
            first used. <br />  `Format: YYYYMMDD` <br />'
          format: date
        shipping_method_indicator:
          type: string
          description: 'Indicates shipping method chosen for the transaction. <br
            />  Possible Values:  <br />  * 01 - Ship to cardholder billing address
            <br />  * 02 - Ship to another verified address on file with merchant
            <br />  * 03 - Ship to address that is different than billing address
            <br />  * 04 - Ship to store (store address should be populated on request)
            <br />  * 05 - Digital goods <br />  * 06 - Travel and event tickets,
            not shipped <br />  * 07 - Other <br />'
          enum:
          - "01"
          - "02"
          - "03"
          - "04"
          - "05"
          - "06"
          - "07"
        shipping_name_indicator:
          type: string
          description: 'Indicates if the cardholder name on the account is identical
            to the <br /> shipping name used for the transaction. Possible Values:
            <br /> * 01 - Account and shipping name identical <br /> * 02 - Account
            and shipping name differ <br />'
          enum:
          - "01"
          - "02"
        total_items:
          pattern: ^[0-9]{2}$
          type: string
          description: Total items in the shopping cart of the shopper
        merchant_score:
          maxLength: 20
          type: string
          description: Merchant score
          x-format:
            alphanum: true
        transaction_count_day:
          maximum: 999
          type: integer
          description: Number of transactions (successful or abandoned) for this cardholder
            account within the last 24 hours. <br />
        transaction_count_year:
          maximum: 999
          type: integer
          description: Number of transactions (successful or abandoned) for this cardholder
            account within the last year. <br />
        transaction_mode:
          type: string
          description: 'Transaction mode identifier. Identifies the channel the transaction
            originates from. Available Options: <br /> M - Moto (Mail Order Telephone
            Order) <br /> P - Mobile Device <br /> R - Retail (Physical Store) <br
            /> S - Computer Device <br /> T - Tablet Device <br />'
          enum:
          - M
          - P
          - R
          - S
          - T
        version:
          type: string
          description: This field contains the 3DS version that can be leveraged to
            force a transaction down the 1.0 rails.
          enum:
          - 1.0.2
    Model14:
      required:
      - payment_contract_id
      - sca_compliance_level
      type: object
      properties:
        sca_compliance_level:
          type: string
          description: |-
            Strong Customer Authentication (SCA) compliance level, possible values </br>
                 * NONE: No SCA required. </br>
                 * WALLET: Depend on the wallet SCA mechanism. For Google Pay this means that MasterCard will shift liability, Visa will not. </br>
                 * FORCE_3DS: Do an additional 3DS step regardless of whether the wallet indicates the token is SCA-compliant.
          enum:
          - NONE
          - WALLET
          - FORCE_3DS
        threed_secure:
          $ref: '#/components/schemas/Model13'
[...]
