openapi: 3.0.0
info:
  title: Verifone eCommerce API
  description: |-
    The Verifone Payments API is built as a RESTful interface utilising JSON content to describe the payment transactions being performed.
  version: 2.0.0
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  contact: {}
servers:
  - url: https://emea.gsc.verifone.cloud/oidc
    description: EMEA Production
  - url: https://us.gsc.verifone.cloud/oidc
    description: Americas Production
  - url: https://nz.gsc.verifone.cloud/oidc
    description: New Zealand and Australia Production
  - url: https://cst.test-gsc.vfims.com/oidc
    description: Global Sandbox
  - url: https://uscst-gb.gsc.vficloud.net/oidc
    description: Americas Sandbox
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    BadRequestV2Docs:
      type: object
      properties:
        details:
          type: object
          additionalProperties:
            type: object
        timestamp:
          type: number
          description: Error timestamp
          example: 1596467016700
        reversal_status:
          type: string
          description: >-
            Indicates to the API client if a technical reversal has been
            completed by Verifone.
          default: NONE
          enum:
            - NONE
            - REQUIRED
            - COMPLETED
        code:
          type: number
          example: 400
          enum:
            - 400
          default: 400
        message:
          type: string
          example: >-
            At least one parameter is invalid. Examine the details property for
            more information. Invalid parameters are listed and prefixed
            accordingly: body for parameters submitted in the requests body,
            query for parameters appended to the requests URL, and params for
            templated parameters of the requests URL.
          enum:
            - >-
              At least one parameter is invalid. Examine the details property
              for more information. Invalid parameters are listed and prefixed
              accordingly: body for parameters submitted in the requests body,
              query for parameters appended to the requests URL, and params for
              templated parameters of the requests URL.
          default: >-
            At least one parameter is invalid. Examine the details property for
            more information. Invalid parameters are listed and prefixed
            accordingly: body for parameters submitted in the requests body,
            query for parameters appended to the requests URL, and params for
            templated parameters of the requests URL.
      required:
        - message
    UnauthorizedV2Docs:
      type: object
      properties:
        details:
          type: object
          additionalProperties:
            type: object
        timestamp:
          type: number
          description: Error timestamp
          example: 1596467016700
        reversal_status:
          type: string
          description: >-
            Indicates to the API client if a technical reversal has been
            completed by Verifone.
          default: NONE
          enum:
            - NONE
            - REQUIRED
            - COMPLETED
        code:
          type: number
          example: 401
          enum:
            - 401
          default: 401
        message:
          type: string
          example: >-
            Access is restricted to authenticated users only. The query can't be
            made without a valid JWT token (check the Authorization header of
            your request).
          enum:
            - >-
              Access is restricted to authenticated users only. The query can't
              be made without a valid JWT token (check the Authorization header
              of your request).
          default: >-
            Access is restricted to authenticated users only. The query can't be
            made without a valid JWT token (check the Authorization header of
            your request).
      required:
        - message
    ForbiddenV2Docs:
      type: object
      properties:
        details:
          type: object
          additionalProperties:
            type: object
        timestamp:
          type: number
          description: Error timestamp
          example: 1596467016700
        reversal_status:
          type: string
          description: >-
            Indicates to the API client if a technical reversal has been
            completed by Verifone.
          default: NONE
          enum:
            - NONE
            - REQUIRED
            - COMPLETED
        code:
          type: number
          example: 403
          enum:
            - 403
          default: 403
        message:
          type: string
          example: >-
            Insufficient permissions. Your current user roles don't allow you to
            perform this query. Should you believe this error to be incorrect,
            please contact an administrator.
          enum:
            - >-
              Insufficient permissions. Your current user roles don't allow you
              to perform this query. Should you believe this error to be
              incorrect, please contact an administrator.
          default: >-
            Insufficient permissions. Your current user roles don't allow you to
            perform this query. Should you believe this error to be incorrect,
            please contact an administrator.
      required:
        - message
    NotFoundV2Docs:
      type: object
      properties:
        details:
          type: object
          additionalProperties:
            type: object
        timestamp:
          type: number
          description: Error timestamp
          example: 1596467016700
        reversal_status:
          type: string
          description: >-
            Indicates to the API client if a technical reversal has been
            completed by Verifone.
          default: NONE
          enum:
            - NONE
            - REQUIRED
            - COMPLETED
        code:
          type: number
          example: 404
          enum:
            - 404
          default: 404
        message:
          type: string
          example: >-
            The requested resource, or one of its sub-resources, can't be found.
            If the submitted query is valid, this error is likely to be caused
            by a problem with a nested resource that has been deleted or
            modified. Check the details property for additional insights.
          enum:
            - >-
              The requested resource, or one of its sub-resources, can't be
              found. If the submitted query is valid, this error is likely to be
              caused by a problem with a nested resource that has been deleted
              or modified. Check the details property for additional insights.
          default: >-
            The requested resource, or one of its sub-resources, can't be found.
            If the submitted query is valid, this error is likely to be caused
            by a problem with a nested resource that has been deleted or
            modified. Check the details property for additional insights.
      required:
        - message
    InternalErrorV2Docs:
      type: object
      properties:
        details:
          type: object
          additionalProperties:
            type: object
        timestamp:
          type: number
          description: Error timestamp
          example: 1596467016700
        reversal_status:
          type: string
          description: >-
            Indicates to the API client if a technical reversal has been
            completed by Verifone.
          default: NONE
          enum:
            - NONE
            - REQUIRED
            - COMPLETED
        code:
          type: number
          example: 500
          enum:
            - 500
          default: 500
        message:
          type: string
          example: >-
            Unexpected error: if the error persists, please contact an
            administrator, quoting the code and timestamp of this error
          enum:
            - >-
              Unexpected error: if the error persists, please contact an
              administrator, quoting the code and timestamp of this error
          default: >-
            Unexpected error: if the error persists, please contact an
            administrator, quoting the code and timestamp of this error
      required:
        - message
    AdditionalDataDto:
      type: object
      properties:
        total_items:
          type: number
          description: Number of purchased items or services.
          minimum: 0
          maximum: 99
        device_channel:
          type: string
          enum:
            - SDK
            - BROWSER
          description: Determines the channel that the transaction came through.
        status_reason:
          type: string
          description: >-
            Provides additional information as to why the PAResStatus has the
            specific value.

             **NOTE**: Required for Payment (e.g. Authentication Indicator equals 01 on Lookup Request) transactions when PAResStatus is equal to N, U, or R in the Lookup Response.
        challenge_indicator:
          type: string
          enum:
            - "01"
            - "02"
            - "03"
            - "04"
            - "90"
          description: |-
            This is a 2.0 required field. Possible values are:

             * `01` No preference

             * `02` No challenge requested

             * `03` Challenge requested (3DS Requestor preference)

             * `04` Challenge requested (Mandate)

             * `90` Used to call the CB Scoring platform
        challenge_cancel:
          type: string
          enum:
            - "01"
            - "02"
            - "03"
            - "04"
            - "05"
            - "06"
            - "07"
          description: >-
            Indicator informing the ACS and the DS that the authentication has
            been cancelled.

             Possible values are:

             * `01` Cardholder selected “Cancel”

             * `02` 3DS Requestor cancelled Authentication.

             * `03` Transaction Abandoned

             * `04` Transaction Timed Out at ACS — other timeouts

             * `05` Transaction Timed Out at ACS — First CReq not received by ACS

             * `06` Transaction Error

             * `07` Unknown
        acs_url:
          type: string
          maxLength: 2048
          description: >-
            The fully qualified URL to redirect the Consumer to complete the
            Consumer Authentication transaction.

             **NOTE**: Available if Enrolled = Y
        acs_operator_id:
          type: string
          maxLength: 32
          description: >-
            DS assigned ACS identifier. Each DS can provide a unique ID to each
            ACS on an individual basis.
        network_score:
          type: string
          maxLength: 2
          example: "20"
          format: number
          description: The global score calculated by the CB Scoring platform.
        reason_code:
          type: string
          description: The error code indicating a problem with this transaction.
        reason_desc:
          type: string
          description: >-
            Text and additional detail about the error for this transaction.
            NOTE: This field concatenates the errorDescription and errorDetail
            from the authentication response message.
    PaymentProductType:
      title: Payment Product Type
      type: string
      description: The payment product type corresponding to this transaction. Fees applied to the transaction, is based on the payment product
    instalment:
      required:
        - number_of_instalments
      type: object
      properties:
        instalment_program:
          type: string
          description: The name of special program designated by scheme or issuer.
          enum:
            - MCINST
        number_of_instalments:
          minimum: 0
          type: integer
          description: The number of individual parts that the total amount should be paid in.
        down_payment_amount:
          $ref: "#/components/schemas/amountDecimal"
        first_instalment_amount:
          $ref: "#/components/schemas/amountDecimal"
        instalment_amount:
          $ref: "#/components/schemas/amountDecimal"
        interest_rate:
          type: number
          description: The interest rate.
          format: float
        annual_percentage_rate:
          type: number
          description: The interest rate expressed in Annual Percentage Rate.
          format: float
        handling_fee:
          $ref: "#/components/schemas/amountDecimal"
        total_amount_with_cost:
          $ref: "#/components/schemas/amountDecimal"
      description: The details on the instalment-scheme that should be enacted by the issuer.
    ThreedAuthenticationDto:
      type: object
      properties:
        eci_flag:
          type: string
          description: >-
            Electronic Commerce Indicator (ECI). The ECI value is part of the 2
            data elements that indicate the transaction was processed
            electronically.This should be passed on the authorization
            transaction to the Gateway/Processor.Please refer to the integration
            guide for information on its usage.
          enum:
            - "05"
            - "06"
            - "07"
            - "02"
            - "01"
            - "00"
          example: "02"
        enrolled:
          type: string
          enum:
            - "Y"
            - "N"
            - U
            - B
          example: "Y"
          description: >-
            The enrolment response status of Authentication eligibility from the
            Directory Server.


            Possible Values:

             * `Y` - Yes, Bank is participating in 3-D Secure protocol and will return the ACSUrl.

             * `N` - No, Bank is not participating in 3-D Secure protocol.

             * `U` - Unavailable,  the DS or ACS is not available for authentication at the time of the request.

             * `B` - Bypass, merchant authentication rule is triggered to bypass authentication in this use case.

            NOTE: If the Enrolled value is NOT Y, then the Consumer is NOT
            eligible for Authentication.
        cavv:
          type: string
          minLength: 28
          maxLength: 48
          description: >-
            Cardholder Authentication Verification Value (CAVV). Base64-encoded
            values of 28 or 32 characters. Hex-encoded values of 40 or 48
            characters.
        cavv_algorithm:
          type: string
          description: >-
            The algorithm used to generate the CAVV value. Supported for 3D
            Secure v1 only.
        pares_status:
          type: string
          enum:
            - "Y"
            - "N"
            - U
            - A
            - C
            - R
          example: A
          description: |-
            Authentication response code.

            Possible Values:

             * `Y` - Successful Authentication.

             * `N` - Failed Authentication.

             * `U` - Unable to Complete Authentication

             * `A` - Successful Attempts Transaction.

             * `C` - Challenge Required for Authentication.

             * `R` - Authentication Rejected.
        xid:
          type: string
          description: >-
            The transaction identifier assigned by Directory Server. Supported
            for 3D Secure v1 only.
        threeds_version:
          type: string
          enum:
            - 1.0.2
            - 2.1.0
            - 2.2.0
          example: 1.0.2
          description: The 3DS version used to process the transaction.
        ds_transaction_id:
          type: string
          description: >-
            The unique transaction identifier assigned by the Directory Server.
            Supported for 3D Secure v2 only.
        signature_verification:
          type: string
          enum:
            - "Y"
            - "N"
          example: "Y"
          description: |-
            Transaction Signature status identifier.

             Possible Values:

             *  `Y` - Indicates that the signature of the PARes has been validated successfully and the message contents can be trusted.

             * `N` - Indicates that the PARes could not be validated. This result could be for a variety of reasons; tampering, certificate expiration, etc., and the result should not be trusted.
        verification:
          type: array
          description: >-
            Any verification/authentication responses captured as part of the
            submission of the transaction. e.g. 3DS response values or
            ACRQ/ARCP. For some mPos transactions the verification may be
            performed on-device e.g. ApplePay, Face ID or Touch ID.
          items:
            type: string
            enum:
              - DENIED
              - NON_PARTICIPATION
              - UNABLE_TO_AUTHENTICATE
              - MERCHANT_NOT_ENROLLED
              - WITH_CRYPTOGRAM
              - WITHOUT_CRYPTOGRAM
        error_desc:
          type: string
          description: |-
            Application error description for the associated error number(s).

             NOTE: Multiple error descriptions are separated by a comma.
        error_no:
          type: string
          description: >-
            Application error number(s). A non-zero value represents the error
            encountered while attempting to process the message request.

             NOTE: Multiple error numbers are separated by a comma.
        additional_data:
          allOf:
            - $ref: "#/components/schemas/AdditionalDataDto"
              description: >-
                Additional 3DS data, which may be required in the particular
                payment request.
    PaymentFrequency:
      type: object
      properties:
        time_unit:
          type: string
          enum:
            - DAY
            - WEEK
            - MONTH
            - YEAR
          description: >-
            Processing model to use for COF transaction. Refer to the card
            integration guide for more information on the usage.
        value:
          type: number
          description: Value.
      required:
        - time_unit
    ProcessingModelDetailsDto:
      type: object
      properties:
        total_payment_number:
          type: number
          description: Total paymant Number.
        total_payment_amount:
          type: number
          description: total Payment Amount.
        first_payment_amount:
          type: number
          description: first Payment Amount.
        payment_frequency:
          allOf:
            - $ref: "#/components/schemas/PaymentFrequency"
        processing_model:
          type: string
          enum:
            - UNSCHEDULED_CREDENTIAL_ON_FILE
            - CREDENTIAL_ON_FILE
            - RECURRING
            - NONE
            - REAUTHORIZATION
          description: >-
            Processing model to use for COF transaction. Refer to the card
            integration guide for more information on the usage.
        merchant_signup_code:
          type: string
          description: A pre-defined signup code between the merchant and the acquirer.
        current_payment_number:
          type: number
          description: The current number of recurring payments.
        amount_fixed:
          type: boolean
          default: false
          description: >-
            Set `true` to indicate that recurring charges are of the same amount
            (often used for subscriptions), and set `false` to indicate variable
            amount between charges (often used for standing orders with fixed
            schedule).
      required:
        - processing_model
    ProcessingModelDetailsSignupDto:
      type: object
      properties:
        total_payment_number:
          type: number
          description: Total paymant Number.
        total_payment_amount:
          type: number
          description: total Payment Amount.
        first_payment_amount:
          type: number
          description: first Payment Amount.
        payment_frequency:
          allOf:
            - $ref: "#/components/schemas/PaymentFrequency"
        processing_model:
          type: string
          enum:
            - UNSCHEDULED_CREDENTIAL_ON_FILE
            - RECURRING
            - NONE
          description: >-
            Processing model to use for COF transaction. Refer to the card
            integration guide for more information on the usage.
        merchant_signup_code:
          type: string
          description: A pre-defined signup code between the merchant and the acquirer.
        current_payment_number:
          type: number
          description: The current number of recurring payments.
        amount_fixed:
          type: boolean
          default: false
          description: >-
            Set `true` to indicate that recurring charges are of the same amount
            (often used for subscriptions), and set `false` to indicate variable
            amount between charges (often used for standing orders with fixed
            schedule).
      required:
        - processing_model
    ProcessingModelDetailsChargeDto:
      type: object
      properties:
        total_payment_number:
          type: number
          description: Total paymant Number.
        total_payment_amount:
          type: number
          description: total Payment Amount.
        first_payment_amount:
          type: number
          description: first Payment Amount.
        payment_frequency:
          allOf:
            - $ref: "#/components/schemas/PaymentFrequency"
        processing_model:
          type: string
          enum:
            - UNSCHEDULED_CREDENTIAL_ON_FILE
            - CREDENTIAL_ON_FILE
            - RECURRING
            - REAUTHORIZATION
          description: >-
            Processing model to use for COF transaction. Refer to the card
            integration guide for more information on the usage.
        merchant_signup_code:
          type: string
          description: A pre-defined signup code between the merchant and the acquirer.
        current_payment_number:
          type: number
          description: The current number of recurring payments.
        amount_fixed:
          type: boolean
          default: false
          description: >-
            Set `true` to indicate that recurring charges are of the same amount
            (often used for subscriptions), and set `false` to indicate variable
            amount between charges (often used for standing orders with fixed
            schedule).
      required:
        - processing_model
    StoredCredentialSignUp:
      type: object
      properties:
        stored_credential_type:
          type: string
          enum:
            - SIGNUP
            - CHARGE
          description: The definition of a stored credential payment.
        processing_model_details:
          allOf:
            - $ref: "#/components/schemas/ProcessingModelDetailsSignupDto"
        first_payment:
          type: boolean
          description: >-
            Whether auto-capture or not. Setting this to 'false' will only
            authorize the transaction.
        scheme_reference:
          type: string
          description: Scheme Reference Data returned in the initial transaction
      required:
        - stored_credential_type
        - processing_model_details
    SignupTransactionDetailsDto:
      type: object
      properties:
        settlement_date:
          type: string
          description: >-
            This will reflect either the desired Merchant settlement date or the
            actual settlement date depending where the transaction request is
            within the payment lifecycle. A transaction may be assigned an
            intended settlement date, but it is possible that this date will not
            occur for technical reasons hence there should be a subsequent event
            to indicate the actual date of settlement. Format is date only as
            per RFC 3339.
    StoredCredentialSubsequentCharge:
      type: object
      properties:
        stored_credential_type:
          type: string
          enum:
            - SIGNUP
            - CHARGE
          description: The definition of a stored credential payment.
        processing_model_details:
          allOf:
            - $ref: "#/components/schemas/ProcessingModelDetailsChargeDto"
        first_payment:
          type: boolean
          description: >-
            Whether auto-capture or not. Setting this to 'false' will only
            authorize the transaction.
        scheme_reference:
          type: string
          description: Scheme Reference Data to be used for this request
          format: guid
        reference:
          type: string
          format: guid
          description: >-
            Reference of the initial transaction. Either one of the reuse_token
            or this reference must be given. Both the fields can also not be
            sent together in the request.
        signup_transaction_details:
          allOf:
            - $ref: "#/components/schemas/SignupTransactionDetailsDto"
      required:
        - stored_credential_type
        - processing_model_details
    StoredCredentialDto:
      type: object
      properties:
        stored_credential_type:
          type: string
          enum:
            - SIGNUP
            - CHARGE
          description: The definition of a stored credential payment.
        processing_model_details:
          allOf:
            - $ref: "#/components/schemas/ProcessingModelDetailsDto"
        first_payment:
          type: boolean
          description: >-
            Whether auto-capture or not. Setting this to 'false' will only
            authorize the transaction.
        scheme_reference:
          type: string
          description: Scheme Reference Data returned in the initial transaction
      required:
        - stored_credential_type
        - processing_model_details
    ShippingInformationDto:
      type: object
      description: The address where the purchased goods should be delivered to.
      title: Shipping Address
      properties:
        address:
          type: string
          maxLength: 300
          example: 3732  Metz Lane
          description: Street address of the recipient.
        city:
          type: string
          maxLength: 28
          example: West Roxbury
          description: City of the recipient.
        country:
          type: string
          maxLength: 2
          minLength: 2
          example: US
          format: country-code
          description: A 2-letter ISO3166 alpha-2 country code for the address.
        postal_code:
          type: string
          minLength: 1
          maxLength: 16
          example: "1114"
          description: A postal code for the address.
        email:
          type: string
          title: Email Address
          minLength: 3
          maxLength: 254
          format: email
          description: >-
            A valid internationalized email address, as defined by RFC 5322, RFC
            6530, and other RFCs. Due to RFC 5321, an email address can be up to
            254 characters long even though up to 64 characters are allowed
            before and 255 characters are allowed after the @ sign. This pattern
            verifies only that the string contains an unquoted @ sign. See
            https://tools.ietf.org/html/rfc5322#section-3.4.1.
        first_name:
          type: string
          maxLength: 100
          example: Thelma
          description: First name of the recipient.
        last_name:
          type: string
          maxLength: 100
          example: Tatro
          description: Last name of the recipient.
        phone:
          type: number
          maxLength: 15
          example: 8577532706
          description: "Numbers only, no dash or any other separator."
        state:
          type: string
          maxLength: 35
          example: MA
          description: A region / state / province for the address.
      required:
        - address
        - city
        - country
        - postal_code
    CardPaymentRequest:
      type: object
      properties:
        payment_provider_contract:
          type: string
          description: >-
            The identifier of payment provider contract you want to process the
            transaction request with.
          format: uuid-flexible
          example: 30b8bec8-5042-4e67-939c-5453fbe41711
        amount:
          type: integer
          description: >-
            Amount is charged without a decimal place e.g. $1.5 = 150.
            Currencies can have different decimals/exponentials, see Currencies
            Section for more details. For Account Verification transactions,
            provide 0 as value for this field.
          example: 0
        auth_type:
          type: string
          description: >-
            Flags a payment request for either pre-authorization or final
            authorization.


            * `PRE_AUTH` is used when the authorized amount is unknown and can
            be adjusted later.


            * `FINAL_AUTH` is used when a final authorized amount is known and
            the transaction will definitely be captured in whole.
          enum:
            - PRE_AUTH
            - FINAL_AUTH
          default: FINAL_AUTH
        capture_now:
          type: boolean
          description: >-
            Whether auto-capture or not. Setting the value to 'false' will only
            authorize the transaction.
          example: false
          default: true
        customer:
          type: string
          description: The ID of a customer.
          format: uuid-flexible
          example: 0a57b387-2ba7-4f65-be2f-e176bb49d2ce
          title: Customer ID
        customer_ip:
          description: The IP Address of the customer where the transaction was initiated.
          maxLength: 15
          example: 127.0.0.1
          oneOf:
            - type: string
              format: ipv4
            - type: string
              format: ipv6
        dynamic_descriptor:
          type: string
          description: >-
            A short
            [descriptor](https://en.wikipedia.org/wiki/Billing_descriptor) to be
            shown on bank statement of the customer. Please refer to the
            integration guide for the format requirements.
          maxLength: 25
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction.
          maxLength: 50
          example: 7a1db7a8-6f24-4bc5-a51b-cef33fc05140
        invoice_number:
          type: string
          title: Invoice Number
          description: Optional. The invoice number to track this payment.
          maxLength: 127
        threed_authentication:
          allOf:
            - $ref: "#/components/schemas/ThreedAuthenticationDto"
              description: >-
                MPI authentication data. Please refer to the integration guide
                for information on its usage.
        stored_credential:
          allOf:
            - $ref: "#/components/schemas/StoredCredentialDto"
            - title: Stored Credential Payment
              description: The definition of a stored credential payment.
              discriminator:
                propertyName: stored_credential_type
                mapping:
                  SIGNUP: "#/components/schemas/StoredCredentialSignUp"
                  CHARGE: "#/components/schemas/StoredCredentialSubsequentCharge"
        customer_details:
          allOf:
          - "$ref": "#/components/schemas/CustomerDetailsDto"
        shipping_information:
          allOf:
          - $ref: "#/components/schemas/ShippingInformationDto"
          - deprecated: true
        shopper_interaction:
          type: string
          description: >-
            Determines the sales channel the shopper gives their card details
            through:

             * `ECOMMERCE` Online transactions where the cardholder is present.

             * `MAIL` order transactions where the shopper is in contact with the merchant via email.

             * `TELEPHONE` order transactions where the shopper is in contact with the merchant via telephone.
          enum:
            - ECOMMERCE
            - MAIL
            - TELEPHONE
          default: ECOMMERCE
          example: ECOMMERCE
        user_agent:
          type: string
          description: >-
            The full user agent string of the device the customer used to submit
            the transaction.
          maxLength: 256
        sales_description:
          type: string
          description: >-
            A reference used by the merchant to typically capture a description of the service
            provided. It could then be used by the merchant to help locate transactions. One
            could envision a situation where a merchant is trying to locate a transaction/
            receipt but in speaking with the customer, the only (or at least a predominant)
            detail is what service was rendered
          maxLength: 200
        sca_exemption:
          type: string
          description: >-
            Use this field to request your transaction to be exempted from the
            application of the Strong Customer Authentication (SCA). Be advised
            that the use of this field may result to your liability in case of
            fraudulent transaction.

             Possible Values:

             1 - Low value payment

             2 - Acquirer Transaction Risk Analysis

             3 - Trusted beneficiary exemption

             4 - Secure Corporate Payment (SCP) exemption

             5 - Merchant Initiated Transaction

             6 - SCA Delegation
          enum:
            - "1"
            - "2"
            - "3"
            - "4"
            - "5"
            - "6"
        currency_code:
          type: string
          title: Currency Code
          description: |-
            Three-letter ISO 4217 alphabetical currency code. e.g. USD.

             Values correspond to [ISO 4217](https://wikipedia.org/wiki/ISO_4217).
          enum:
            - AED
            - AFN
            - ALL
            - AMD
            - ANG
            - AOA
            - ARS
            - AUD
            - AWG
            - AZN
            - BAM
            - BBD
            - BDT
            - BGN
            - BHD
            - BIF
            - BMD
            - BND
            - BOB
            - BOV
            - BRL
            - BSD
            - BTN
            - BWP
            - BYR
            - BZD
            - CAD
            - CDF
            - CHE
            - CHF
            - CHW
            - CLF
            - CLP
            - CNY
            - COP
            - COU
            - CRC
            - CUC
            - CUP
            - CVE
            - CZK
            - DJF
            - DKK
            - DOP
            - DZD
            - EGP
            - ERN
            - ETB
            - EUR
            - FJD
            - FKP
            - GBP
            - GEL
            - GHS
            - GIP
            - GMD
            - GNF
            - GTQ
            - GYD
            - HKD
            - HNL
            - HRK
            - HTG
            - HUF
            - IDR
            - ILS
            - INR
            - IQD
            - IRR
            - ISK
            - JMD
            - JOD
            - JPY
            - KES
            - KGS
            - KHR
            - KMF
            - KPW
            - KRW
            - KWD
            - KYD
            - KZT
            - LAK
            - LBP
            - LKR
            - LRD
            - LSL
            - LTL
            - LVL
            - LYD
            - MAD
            - MDL
            - MGA
            - MKD
            - MMK
            - MNT
            - MOP
            - MRO
            - MUR
            - MVR
            - MWK
            - MXN
            - MXV
            - MYR
            - MZN
            - NAD
            - NGN
            - NIO
            - NOK
            - NPR
            - NZD
            - OMR
            - PAB
            - PEN
            - PGK
            - PHP
            - PKR
            - PLN
            - PYG
            - QAR
            - RON
            - RSD
            - RUB
            - RWF
            - SAR
            - SBD
            - SCR
            - SDG
            - SEK
            - SGD
            - SHP
            - SLL
            - SOS
            - SRD
            - SSP
            - STD
            - SVC
            - SYP
            - SZL
            - THB
            - TJS
            - TMT
            - TND
            - TOP
            - TRY
            - TTD
            - TWD
            - TZS
            - UAH
            - UGX
            - USD
            - USN
            - USS
            - UYI
            - UYU
            - UZS
            - VEF
            - VND
            - VUV
            - WST
            - XAF
            - XAG
            - XAU
            - XBA
            - XBB
            - XBC
            - XBD
            - XCD
            - XDR
            - XOF
            - XPD
            - XPF
            - XPT
            - XTS
            - XXX
            - YER
            - ZAR
            - ZMK
            - ZMW
            - BTC
        card_brand:
          $ref: "#/components/schemas/CardBrand"
        brand_choice:
          type: string
          description: >-
            For dual-branded cards identifies whether selection is made by a
            cardholder or merchant.
          enum:
            - MERCHANT
            - CARDHOLDER
          default: MERCHANT
        credit_term:
          type: string
          description: >-
            An indicator to show under which terms the credit was provided.
          default: STANDARD
          enum:
            - STANDARD
            - PREFERED
            - DEBIT
            - INSTALMENT_STANDARD
            - INSTALMENT_CREDIT
        instalment:
          allOf:
            - $ref: "#/components/schemas/InstalmentDto"
              name: instalment
              description: >-
                The details on the instalment-scheme that should be enacted by the issuer.
        refusal_reason:
          type: string
          title: Refusal Reason
          description: >-
            The reason a transaction has been refused within the payment
            ecosystem by the client/Verifone/acquirer. This needs to be set by
            the component that is refusing this transaction request.
          enum:
            - ACQUIRER_COMMS_FAILURE
            - ACQUIRER_REFUSED
            - CARD_BRAND_NOT_ACCEPTED
            - CARD_EXPIRED
            - CARD_NOT_ACCEPTED
            - CARD_NOT_VALID
            - CARD_PRODUCT_NOT_ACCEPTED
            - ORIGINAL_TRANSACTION_NOT_FOUND
            - INVALID_BIN
            - PARTIAL_AUTH_NOT_ALLOWED
            - RECEIPT_FAILURE
            - REFUND_NOT_ACCEPTED
            - THREEDSECURE_FAILED_ACS
            - THREEDSECURE_FAILED_AUTH
            - THREEDSECURE_FAILED_COMMS
            - UNAPPROVED_OPERATOR
            - UNKNOWN_REASON
        card:
          type: string
          description: The two-way token identifier used to represent the Cardholder data.
          title: Cardholder Token
          maxLength: 100
        purchase_order_number:
          title: Purchase Order Number
          description: >
            The purchase order number. It can be provided in transactions with purchase or procurement cards for the cardholder to get better interchange rates (note that this functionality needs alignment with the acquirer and the scheme).
            This field is part of so-called Level 2 data.
          type: string
          maxLength: 17
        tax_indicator:
          title: Tax Indicator
          description: >
            This field indicates the taxable status of the transaction (if any of the purchased items are taxable). This field is part of so-called Level 2 data.
            If the value `TAX_PROVIDED` is sent, `tax_amount` should also be provided
          type: string
          enum:
            - TAX_PROVIDED
            - TAX_NOT_PROVIDED
            - NON_TAXABLE
          default: TAX_NOT_PROVIDED
        detailed_amount:
          title: Detailed Amount
          description: >-
            A structure that represents a breakdown all of the different amounts that may appear on a single transaction.
          type: object
          properties:
            tax_amount:
              title: Tax Amount
              description: An optional value to specify the amount of any tax that was included within the total amount for the transaction. This should be included in the total 'amount' of the transaction.
              $ref: "#/components/schemas/amount_simple_type"
      required:
        - payment_provider_contract
        - amount
        - currency_code
        - card
    TokenPaymentRequest:
      type: object
      properties:
        payment_provider_contract:
          type: string
          description: >-
            The identifier of payment provider contract you want to process the
            transaction request with.
          format: uuid-flexible
          example: 30b8bec8-5042-4e67-939c-5453fbe41711
        amount:
          type: integer
          description: >-
            Amount is charged without a decimal place e.g. $1.5 = 150.
            Currencies can have different decimals/exponentials, see Currencies
            Section for more details. For Account Verification transactions,
            provide 0 as value for this field.
          example: 0
        auth_type:
          type: string
          description: >-
            Flags a payment request for either pre-authorization or final
            authorization.


            * `PRE_AUTH` is used when the authorized amount is unknown and can
            be adjusted later.


            * `FINAL_AUTH` is used when a final authorized amount is known and
            the transaction will definitely be captured in whole.
          enum:
            - PRE_AUTH
            - FINAL_AUTH
          default: FINAL_AUTH
        capture_now:
          type: boolean
          description: >-
            Whether auto-capture or not. Setting the value to 'false' will only
            authorize the transaction.
          example: false
          default: true
        customer:
          type: string
          description: The ID of a customer.
          format: uuid-flexible
          example: 0a57b387-2ba7-4f65-be2f-e176bb49d2ce
          title: Customer ID
        customer_ip:
          description: The IP Address of the customer where the transaction was initiated.
          maxLength: 15
          example: 127.0.0.1
          oneOf:
            - type: string
              format: ipv4
            - type: string
              format: ipv6
        dynamic_descriptor:
          type: string
          description: >-
            A short
            [descriptor](https://en.wikipedia.org/wiki/Billing_descriptor) to be
            shown on bank statement of the customer. Please refer to the
            integration guide for the format requirements.
          maxLength: 25
        invoice_number:
          type: string
          title: Invoice Number
          description: Optional. The invoice number to track this payment.
          maxLength: 127
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction.
          maxLength: 50
          example: 7a1db7a8-6f24-4bc5-a51b-cef33fc05140
        threed_authentication:
          allOf:
            - $ref: "#/components/schemas/ThreedAuthenticationDto"
              description: >-
                MPI authentication data. Please refer to the integration guide
                for information on its usage.
        encrypted_cvv:
          type: string
          description: |-
            The CVV encrypted using the Verifone provided public key. This can be obtained using either Verifone.JS solution or Verifone Checkout in capture mode.

             The data to encrypt is a JSON with tag cvv.

             Additionally a tag called captureTime must be presenting indicating the time the cvv was captured in UTC in format RFC 3339, section 5.6. eg. 2019-08-24T14:15:22Z.

             Sample JSON to encrypt:

                {

                "cvv": "123"

                "captureTime": "2021-04-27T14:15:22Z"

                }
          example: U3dhZ2dlciByb2Nrcw==
        encrypted_svc_access_code:
          type: string
          title: Client encrypted SVC Access Code
          description: |-
            The SVC Access Code encrypted using the Verifone provided public key. This can be obtained using either Verifone.JS solution or Verifone Checkout in capture mode.

            The data to encrypt is a JSON with tag svcAccessCode.

            Additionally a tag called captureTime must be presenting indicating the time the cvv was captured in UTC in format RFC 3339, section 5.6. eg. 2019-08-24T14:15:22Z.
        public_key_alias:
          type: string
          title: Public Key Alias
          description: The alias for the public key used to encrypt this card.
        stored_credential:
          allOf:
            - $ref: "#/components/schemas/StoredCredentialDto"
            - title: Stored Credential Payment
              description: The definition of a stored credential payment.
              discriminator:
                propertyName: stored_credential_type
                mapping:
                  SIGNUP: "#/components/schemas/StoredCredentialSignUp"
                  CHARGE: "#/components/schemas/StoredCredentialSubsequentCharge"
        shipping_information:
          allOf:
          - "$ref": "#/components/schemas/ShippingInformation"
            deprecated: true
        customer_details:
          allOf:
          - "$ref": "#/components/schemas/CustomerDetailsDto"
        shopper_interaction:
          type: string
          description: >-
            Determines the sales channel the shopper gives their card details
            through:

             * `ECOMMERCE` Online transactions where the cardholder is present.

             * `MAIL` order transactions where the shopper is in contact with the merchant via email.

             * `TELEPHONE` order transactions where the shopper is in contact with the merchant via telephone.
          enum:
            - ECOMMERCE
            - MAIL
            - TELEPHONE
          default: ECOMMERCE
          example: ECOMMERCE
        user_agent:
          type: string
          description: >-
            The full user agent string of the device the customer used to submit
            the transaction.
          maxLength: 256
        sales_description:
          type: string
          description: >-
            A reference used by the merchant to typically capture a description of the service
            provided. It could then be used by the merchant to help locate transactions. One
            could envision a situation where a merchant is trying to locate a transaction/
            receipt but in speaking with the customer, the only (or at least a predominant)
            detail is what service was rendered
          maxLength: 200
        sca_exemption:
          type: string
          description: >-
            Use this field to request your transaction to be exempted from the
            application of the Strong Customer Authentication (SCA). Be advised
            that the use of this field may result to your liability in case of
            fraudulent transaction.

             Possible Values:

             1 - Low value payment

             2 - Acquirer Transaction Risk Analysis

             3 - Trusted beneficiary exemption

             4 - Secure Corporate Payment (SCP) exemption

             5 - Merchant Initiated Transaction

             6 - SCA Delegation
          enum:
            - "1"
            - "2"
            - "3"
            - "4"
            - "5"
            - "6"
        currency_code:
          type: string
          title: Currency Code
          description: |-
            Three-letter ISO 4217 alphabetical currency code. e.g. USD.

             Values correspond to [ISO 4217](https://wikipedia.org/wiki/ISO_4217).
          enum:
            - AED
            - AFN
            - ALL
            - AMD
            - ANG
            - AOA
            - ARS
            - AUD
            - AWG
            - AZN
            - BAM
            - BBD
            - BDT
            - BGN
            - BHD
            - BIF
            - BMD
            - BND
            - BOB
            - BOV
            - BRL
            - BSD
            - BTN
            - BWP
            - BYR
            - BZD
            - CAD
            - CDF
            - CHE
            - CHF
            - CHW
            - CLF
            - CLP
            - CNY
            - COP
            - COU
            - CRC
            - CUC
            - CUP
            - CVE
            - CZK
            - DJF
            - DKK
            - DOP
            - DZD
            - EGP
            - ERN
            - ETB
            - EUR
            - FJD
            - FKP
            - GBP
            - GEL
            - GHS
            - GIP
            - GMD
            - GNF
            - GTQ
            - GYD
            - HKD
            - HNL
            - HRK
            - HTG
            - HUF
            - IDR
            - ILS
            - INR
            - IQD
            - IRR
            - ISK
            - JMD
            - JOD
            - JPY
            - KES
            - KGS
            - KHR
            - KMF
            - KPW
            - KRW
            - KWD
            - KYD
            - KZT
            - LAK
            - LBP
            - LKR
            - LRD
            - LSL
            - LTL
            - LVL
            - LYD
            - MAD
            - MDL
            - MGA
            - MKD
            - MMK
            - MNT
            - MOP
            - MRO
            - MUR
            - MVR
            - MWK
            - MXN
            - MXV
            - MYR
            - MZN
            - NAD
            - NGN
            - NIO
            - NOK
            - NPR
            - NZD
            - OMR
            - PAB
            - PEN
            - PGK
            - PHP
            - PKR
            - PLN
            - PYG
            - QAR
            - RON
            - RSD
            - RUB
            - RWF
            - SAR
            - SBD
            - SCR
            - SDG
            - SEK
            - SGD
            - SHP
            - SLL
            - SOS
            - SRD
            - SSP
            - STD
            - SVC
            - SYP
            - SZL
            - THB
            - TJS
            - TMT
            - TND
            - TOP
            - TRY
            - TTD
            - TWD
            - TZS
            - UAH
            - UGX
            - USD
            - USN
            - USS
            - UYI
            - UYU
            - UZS
            - VEF
            - VND
            - VUV
            - WST
            - XAF
            - XAG
            - XAU
            - XBA
            - XBB
            - XBC
            - XBD
            - XCD
            - XDR
            - XOF
            - XPD
            - XPF
            - XPT
            - XTS
            - XXX
            - YER
            - ZAR
            - ZMK
            - ZMW
            - BTC
        card_brand:
          $ref: "#/components/schemas/CardBrand"
        brand_choice:
          type: string
          description: >-
            For dual-branded cards identifies whether selection is made by a
            cardholder or merchant.
          enum:
            - MERCHANT
            - CARDHOLDER
          default: MERCHANT
        credit_term:
          type: string
          description: >-
            An indicator to show under which terms the credit was provided.
          default: STANDARD
          enum:
            - STANDARD
            - PREFERED
            - DEBIT
            - INSTALMENT_STANDARD
            - INSTALMENT_CREDIT
        instalment:
          allOf:
            - $ref: "#/components/schemas/InstalmentDto"
              name: instalment
              description: >-
                The details on the instalment-scheme that should be enacted by the issuer.
        refusal_reason:
          type: string
          title: Refusal Reason
          description: >-
            The reason a transaction has been refused within the payment
            ecosystem by the client/Verifone/acquirer. This needs to be set by
            the component that is refusing this transaction request.
          enum:
            - ACQUIRER_COMMS_FAILURE
            - ACQUIRER_REFUSED
            - CARD_BRAND_NOT_ACCEPTED
            - CARD_EXPIRED
            - CARD_NOT_ACCEPTED
            - CARD_NOT_VALID
            - CARD_PRODUCT_NOT_ACCEPTED
            - ORIGINAL_TRANSACTION_NOT_FOUND
            - INVALID_BIN
            - PARTIAL_AUTH_NOT_ALLOWED
            - RECEIPT_FAILURE
            - REFUND_NOT_ACCEPTED
            - THREEDSECURE_FAILED_ACS
            - THREEDSECURE_FAILED_AUTH
            - THREEDSECURE_FAILED_COMMS
            - UNAPPROVED_OPERATOR
            - UNKNOWN_REASON
        reuse_token:
          type: string
          title: Reuse Token
          description: >-
            The Verifone issued reuse token used to represent the previously
            stored cardholder data.
          minLength: 16
          maxLength: 255
        reuse_token_type:
          title: Reuse Token Type
          description: The type of Reuse Token. This indicates if the reuse token is an internal Verifone type or an external Third-Party type.
          type: string
          enum:
            - CHASE
            - INTERNAL
            - TAVE
          default: INTERNAL
        reuse_token_details:
          $ref: "#/components/schemas/TokenDetailsRequestBody"
        purchase_order_number:
          title: Purchase Order Number
          description: >
            The purchase order number. It can be provided in transactions with purchase or procurement cards for the cardholder to get better interchange rates (note that this functionality needs alignment with the acquirer and the scheme).
            This field is part of so-called Level 2 data.
          type: string
          maxLength: 17
        tax_indicator:
          title: Tax Indicator
          description: >
            This field indicates the taxable status of the transaction (if any of the purchased items are taxable). This field is part of so-called Level 2 data.
            If the value `TAX_PROVIDED` is sent, `tax_amount` should also be provided
          type: string
          enum:
            - TAX_PROVIDED
            - TAX_NOT_PROVIDED
            - NON_TAXABLE
          default: TAX_NOT_PROVIDED
        detailed_amount:
          title: Detailed Amount
          description: >-
            A structure that represents a breakdown all of the different amounts that may appear on a single transaction.
          type: object
          properties:
            tax_amount:
              title: Tax Amount
              description: An optional value to specify the amount of any tax that was included within the total amount for the transaction. This should be included in the total 'amount' of the transaction.
              $ref: "#/components/schemas/amount_simple_type"
      required:
        - payment_provider_contract
        - amount
        - currency_code
        - reuse_token
    TokenPreferenceDto:
      type: object
      properties:
        token_scope:
          type: string
          title: Token Scope
          description: The token scope under which this token was created.
          format: uuid
          example: 0e48425a-f1bc-431a-b7d8-f866de8ba276
        reuse_token_type:
          title: Reuse Token Type
          description: The type of Reuse Token. This indicates if the reuse token is an internal Verifone type or an external Third-Party type.
          type: string
          enum:
            - CHASE
            - INTERNAL
            - TAVE
          default: INTERNAL
        token_type:
          type: string
          title: Token Type
          description: Token type
          enum:
            - REUSE
            - ANALYTICS
            - REUSE_AND_ANALYTICS
        token_expiry_date:
          type: string
          description: When this Token will expire.
          format: date
      required:
        - token_scope
    EncryptedCardPaymentRequest:
      type: object
      properties:
        payment_provider_contract:
          type: string
          description: >-
            The identifier of payment provider contract you want to process the
            transaction request with.
          format: uuid-flexible
          example: 30b8bec8-5042-4e67-939c-5453fbe41711
        amount:
          type: integer
          description: >-
            Amount is charged without a decimal place e.g. $1.5 = 150.
            Currencies can have different decimals/exponentials, see Currencies
            Section for more details. For Account Verification transactions,
            provide 0 as value for this field.
          example: 0
        auth_type:
          type: string
          description: >-
            Flags a payment request for either pre-authorization or final
            authorization.


            * `PRE_AUTH` is used when the authorized amount is unknown and can
            be adjusted later.


            * `FINAL_AUTH` is used when a final authorized amount is known and
            the transaction will definitely be captured in whole.
          enum:
            - PRE_AUTH
            - FINAL_AUTH
          default: FINAL_AUTH
        capture_now:
          type: boolean
          description: >-
            Whether auto-capture or not. Setting the value to 'false' will only
            authorize the transaction.
          example: false
          default: true
        customer:
          type: string
          description: The ID of a customer.
          format: uuid-flexible
          example: 0a57b387-2ba7-4f65-be2f-e176bb49d2ce
          title: Customer ID
        customer_ip:
          description: The IP Address of the customer where the transaction was initiated.
          maxLength: 15
          example: 127.0.0.1
          oneOf:
            - type: string
              format: ipv4
            - type: string
              format: ipv6
        dynamic_descriptor:
          type: string
          description: >-
            A short
            [descriptor](https://en.wikipedia.org/wiki/Billing_descriptor) to be
            shown on bank statement of the customer. Please refer to the
            integration guide for the format requirements.
          maxLength: 25
        invoice_number:
          type: string
          title: Invoice Number
          description: Optional. The invoice number to track this payment.
          maxLength: 127
        merchant_reference:
          type: string
          description: A reference specified by the merchant to identify the transaction.
          maxLength: 50
          example: 7a1db7a8-6f24-4bc5-a51b-cef33fc05140
        threed_authentication:
          allOf:
            - $ref: "#/components/schemas/ThreedAuthenticationDto"
              description: >-
                MPI authentication data. Please refer to the integration guide
                for information on its usage.
        stored_credential:
          allOf:
            - $ref: "#/components/schemas/StoredCredentialDto"
            - title: Stored Credential Payment
              description: The definition of a stored credential payment.
              discriminator:
                propertyName: stored_credential_type
                mapping:
                  SIGNUP: "#/components/schemas/StoredCredentialSignUp"
        shipping_information:
          allOf:
          - "$ref": "#/components/schemas/ShippingInformation"
            deprecated: true
        customer_details:
          allOf:
          - "$ref": "#/components/schemas/CustomerDetailsDto"
        shopper_interaction:
          type: string
          description: >-
            Determines the sales channel the shopper gives their card details
            through:

             * `ECOMMERCE` Online transactions where the cardholder is present.

             * `MAIL` order transactions where the shopper is in contact with the merchant via email.

             * `TELEPHONE` order transactions where the shopper is in contact with the merchant via telephone.
          enum:
            - ECOMMERCE
            - MAIL
            - TELEPHONE
          default: ECOMMERCE
          example: ECOMMERCE
        user_agent:
          type: string
          description: >-
            The full user agent string of the device the customer used to submit
            the transaction.
          maxLength: 256
        sales_description:
          type: string
          description: >-
            A reference used by the merchant to typically capture a description of the service
            provided. It could then be used by the merchant to help locate transactions. One
            could envision a situation where a merchant is trying to locate a transaction/
            receipt but in speaking with the customer, the only (or at least a predominant)
            detail is what service was rendered
          maxLength: 200
        sca_exemption:
          type: string
          description: >-
            Use this field to request your transaction to be exempted from the
            application of the Strong Customer Authentication (SCA). Be advised
            that the use of this field may result to your liability in case of
            fraudulent transaction.

             Possible Values:

             1 - Low value payment

             2 - Acquirer Transaction Risk Analysis

             3 - Trusted beneficiary exemption

             4 - Secure Corporate Payment (SCP) exemption

             5 - Merchant Initiated Transaction

             6 - SCA Delegation
          enum:
            - "1"
            - "2"
            - "3"
            - "4"
            - "5"
            - "6"
        currency_code:
          type: string
          title: Currency Code
          description: |-
            Three-letter ISO 4217 alphabetical currency code. e.g. USD.

             Values correspond to [ISO 4217](https://wikipedia.org/wiki/ISO_4217).
          enum:
            - AED
            - AFN
            - ALL
            - AMD
            - ANG
            - AOA
            - ARS
            - AUD
            - AWG
            - AZN
            - BAM
            - BBD
            - BDT
            - BGN
            - BHD
            - BIF
            - BMD
            - BND
            - BOB
            - BOV
            - BRL
            - BSD
            - BTN
            - BWP
            - BYR
            - BZD
            - CAD
            - CDF
            - CHE
            - CHF
            - CHW
            - CLF
            - CLP
            - CNY
            - COP
            - COU
            - CRC
            - CUC
            - CUP
            - CVE
            - CZK
            - DJF
            - DKK
            - DOP
            - DZD
            - EGP
            - ERN
            - ETB
            - EUR
            - FJD
            - FKP
            - GBP
            - GEL
            - GHS
            - GIP
            - GMD
            - GNF
            - GTQ
            - GYD
            - HKD
            - HNL
            - HRK
            - HTG
            - HUF
            - IDR
            - ILS
            - INR
            - IQD
            - IRR
            - ISK
            - JMD
            - JOD
            - JPY
            - KES
            - KGS
            - KHR
            - KMF
            - KPW
            - KRW
            - KWD
            - KYD
            - KZT
            - LAK
            - LBP
            - LKR
            - LRD
            - LSL
            - LTL
            - LVL
            - LYD
            - MAD
            - MDL
            - MGA
            - MKD
            - MMK
            - MNT
            - MOP
            - MRO
            - MUR
            - MVR
            - MWK
            - MXN
            - MXV
            - MYR
            - MZN
            - NAD
            - NGN
            - NIO
            - NOK
            - NPR
            - NZD
            - OMR
            - PAB
            - PEN
            - PGK
            - PHP
            - PKR
            - PLN
            - PYG
            - QAR
            - RON
            - RSD
            - RUB
            - RWF
            - SAR
            - SBD
            - SCR
            - SDG
            - SEK
            - SGD
            - SHP
            - SLL
            - SOS
            - SRD
            - SSP
            - STD
            - SVC
            - SYP
            - SZL
            - THB
            - TJS
            - TMT
            - TND
            - TOP
            - TRY
            - TTD
            - TWD
            - TZS
            - UAH
            - UGX
            - USD
            - USN
            - USS
            - UYI
            - UYU
            - UZS
            - VEF
            - VND
            - VUV
            - WST
            - XAF
            - XAG
            - XAU
            - XBA
            - XBB
            - XBC
            - XBD
            - XCD
            - XDR
            - XOF
            - XPD
            - XPF
            - XPT
            - XTS
            - XXX
            - YER
            - ZAR
            - ZMK
            - ZMW
            - BTC
        card_brand:
          $ref: "#/components/schemas/CardBrand"
        brand_choice:
          type: string
          description: >-
            For dual-branded cards identifies whether selection is made by a
            cardholder or merchant.
          enum:
            - MERCHANT
            - CARDHOLDER
          default: MERCHANT
        credit_term:
          type: string
          description: >-
            An indicator to show under which terms the credit was provided.
          default: STANDARD
          enum:
            - STANDARD
            - PREFERED
            - DEBIT
            - INSTALMENT_STANDARD
            - INSTALMENT_CREDIT
        instalment:
          allOf:
            - $ref: "#/components/schemas/InstalmentDto"
              name: instalment
              description: >-
                The details on the instalment-scheme that should be enacted by the issuer.
        refusal_reason:
          type: string
          title: Refusal Reason
          description: >-
            The reason a transaction has been refused within the payment
            ecosystem by the client/Verifone/acquirer. This needs to be set by
            the component that is refusing this transaction request.
          enum:
            - ACQUIRER_COMMS_FAILURE
            - ACQUIRER_REFUSED
            - CARD_BRAND_NOT_ACCEPTED
            - CARD_EXPIRED
            - CARD_NOT_ACCEPTED
            - CARD_NOT_VALID
            - CARD_PRODUCT_NOT_ACCEPTED
            - ORIGINAL_TRANSACTION_NOT_FOUND
            - INVALID_BIN
            - PARTIAL_AUTH_NOT_ALLOWED
            - RECEIPT_FAILURE
            - REFUND_NOT_ACCEPTED
            - THREEDSECURE_FAILED_ACS
            - THREEDSECURE_FAILED_AUTH
            - THREEDSECURE_FAILED_COMMS
            - UNAPPROVED_OPERATOR
            - UNKNOWN_REASON
        encrypted_card:
          type: string
          title: Client encrypted cardholder data
          description: >-
            The cardholder data encrypted using the Verifone provided public
            key. This can be obtained using either Verifone.JS solution or Verifone Checkout in capture mode.

             The data to encrypt is a JSON with possible tags being cardNumber, sequenceNumber, cardholderName, startMonth, startYear, expiryMonth, expiryYear, cvv. This should be a single JSON line and should not contain any spaces. Read <a target="_blank" style="color:blue;" href="https://verifone.cloud/docs/online-payments/secure-card-capture-key">Secure card capture key</a> for details.

             Additionally, a tag called captureTime must be presenting indicating the time the card was captured in UTC in format RFC 3339, section 5.6. eg. 2019-08-24T14:15:22Z. Encrypted card is valid for only 15 minutes.
          example: U3dhZ2dlciByb2Nrcw==
        token_preference:
          allOf:
            - $ref: "#/components/schemas/TokenPreferenceDto"
              title: Token Preference
              description: Contains the properties required to create a token
        encrypted_svc_access_code:
          type: string
          title: Client encrypted SVC Access Code
          description: |-
            The SVC Access Code encrypted using the Verifone provided public key. This can be obtained using either Verifone.JS solution or Verifone Checkout in capture mode.

            The data to encrypt is a JSON with tag svcAccessCode.

            Additionally a tag called captureTime must be presenting indicating the time the cvv was captured in UTC in format RFC 3339, section 5.6. eg. 2019-08-24T14:15:22Z.
        public_key_alias:
          type: string
          title: Public Key Alias
          description: The alias for the public key used to encrypt this card.
        promo_code:
          type: string
          description: A code defined by the merchant that affects the calculation of the total amount.
        purchase_order_number:
          title: Purchase Order Number
          description: >
            The purchase order number. It can be provided in transactions with purchase or procurement cards for the cardholder to get better interchange rates (note that this functionality needs alignment with the acquirer and the scheme).
            This field is part of so-called Level 2 data.
          type: string
          maxLength: 17
        tax_indicator:
          title: Tax Indicator
          description: >
            This field indicates the taxable status of the transaction (if any of the purchased items are taxable). This field is part of so-called Level 2 data.
            If the value `TAX_PROVIDED` is sent, `tax_amount` should also be provided
          type: string
          enum:
            - TAX_PROVIDED
            - TAX_NOT_PROVIDED
            - NON_TAXABLE
          default: TAX_NOT_PROVIDED
      required:
        - payment_provider_contract
        - amount
        - currency_code
        - encrypted_card
        - public_key_alias
    ShippingInformation:
      type: object
      properties:
        address:
          type: string
          maxLength: 300
          example: 3732  Metz Lane
          description: Street address of the recipient.
        city:
          type: string
          maxLength: 28
          example: West Roxbury
          description: City of the recipient.
        country:
          type: string
          maxLength: 2
          minLength: 2
          example: US
          format: country-code
          description: A 2-letter ISO3166 alpha-2 country code for the address.
        postal_code:
          type: string
          minLength: 1
          maxLength: 16
          example: "1114"
          description: A postal code for the address.
        email:
          type: string
          title: Email Address
          minLength: 3
          maxLength: 254
          format: email
          description: >-
            A valid internationalized email address, as defined by RFC 5322, RFC
            6530, and other RFCs. Due to RFC 5321, an email address can be up to
            254 characters long even though up to 64 characters are allowed
            before and 255 characters are allowed after the @ sign. This pattern
            verifies only that the string contains an unquoted @ sign. See
            https://tools.ietf.org/html/rfc5322#section-3.4.1.
        first_name:
          type: string
          maxLength: 100
          example: Thelma
          description: First name of the recipient.
        last_name:
          type: string
          maxLength: 100
          example: Tatro
          description: Last name of the recipient.
        phone:
          type: number
          maxLength: 15
          example: 8577532706
          description: "Numbers only, no dash or any other separator."
        state:
          type: string
          maxLength: 35
          example: MA
          description: A region / state / province for the address.
      required:
        - address
        - city
        - country
        - postal_code
    StoredCredential:
      type: object
      properties:
        reference:
          type: string
          description: >-
            Reference of a successfully processed initial COF transaction. Only
            used by subsequent COF transactions.
        stored_credential_type:
          type: string
        scheme_reference:
          type: string
          description: >-
            Scheme Reference Data received from issuer/acquirer.
        processing_model:
          type: string
          enum:
            - UNSCHEDULED_CREDENTIAL_ON_FILE
            - CREDENTIAL_ON_FILE
            - RECURRING
            - REAUTHORIZATION
            - NONE
          description: >-
            Processing model to use for COF transaction. Refer to the card
            integration guide for more information on the usage.
        details:
          deprecated: true
          type: string
          enum:
            - UNSCHEDULED_CREDENTIAL_ON_FILE
            - CREDENTIAL_ON_FILE
            - RECURRING
          description: >-
            Processing model to use for COF transaction. Refer to the card
            integration guide for more information on the usage.
    Details:
      type: object
      properties:
        auto_capture:
          type: boolean
        mid:
          type: string
          format: integer
          description: Merchant ID (MID)
          example: "363162200000049"
    ThreedAuthentication:
      type: object
      properties:
        eci_flag:
          type: string
          description: >-
            Electronic Commerce Indicator (ECI). The ECI value is part of the 2
            data elements that indicate the transaction was processed
            electronically.This should be passed on the authorization
            transaction to the Gateway/Processor.Please refer to the integration
            guide for information on its usage.
          enum:
            - "05"
            - "06"
            - "07"
            - "02"
            - "01"
            - "00"
          example: "02"
        enrolled:
          type: string
          enum:
            - "Y"
            - "N"
            - U
            - B
          example: "Y"
          description: >-
            The enrolment response status of Authentication eligibility from the
            Directory Server.


            Possible Values:

             * `Y` - Yes, Bank is participating in 3-D Secure protocol and will return the ACSUrl.

             * `N` - No, Bank is not participating in 3-D Secure protocol.

             * `U` - Unavailable,  the DS or ACS is not available for authentication at the time of the request.

             * `B` - Bypass, merchant authentication rule is triggered to bypass authentication in this use case.

            NOTE: If the Enrolled value is NOT Y, then the Consumer is NOT
            eligible for Authentication.
        cavv:
          type: string
          minLength: 28
          maxLength: 48
          description: >-
            Cardholder Authentication Verification Value (CAVV). Base64-encoded
            values of 28 or 32 characters. Hex-encoded values of 40 or 48
            characters.
        cavv_algorithm:
          type: string
          description: >-
            The algorithm used to generate the CAVV value. Supported for 3D
            Secure v1 only.
        pares_status:
          type: string
          enum:
            - "Y"
            - "N"
            - U
            - A
            - C
            - R
          example: A
          description: |-
            Authentication response code.

            Possible Values:

             * `Y` - Successful Authentication.

             * `N` - Failed Authentication.

             * `U` - Unable to Complete Authentication

             * `A` - Successful Attempts Transaction.

             * `C` - Challenge Required for Authentication.

             * `R` - Authentication Rejected.
        xid:
          type: string
          description: >-
            The transaction identifier assigned by Directory Server. Supported
            for 3D Secure v1 only.
        threeds_version:
          type: string
          enum:
            - 1.0.2
            - 2.1.0
            - 2.2.0
          example: 1.0.2
          description: The 3DS version used to process the transaction.
        ds_transaction_id:
          type: string
          description: >-
            The unique transaction identifier assigned by the Directory Server.
            Supported for 3D Secure v2 only.
    AdditionalData:
      type: object
      properties:
        acquirer_response_code:
          type: string
          description: " Acquirer response returned during the authorisation. This replaces issuerResponseCode as the acquirer or processor will provide a composite of the "
          maxLength: 4
        initiator_trace_id:
          type: string
          description: >-
            A number assigned by a transaction initiator(originator) to assist
            in identifying a transaction uniquely. The trace identifier remains
            unchanged for all messages within a two-message exchange, e.g.
            request/repeat and response. This property can be used to store the
            System trace audit number (STAN) as used in the ISO8583
            specification (DE 11). Note the contents of this field are mandatory
            in many specifications - ISO8583, AS2805 (DE11) and are often
            related to the Retrieval Reference Number (RRN) as also specified in
            ISO8583. Unfortunately due to the usage in these earlier
            specifications, a STAN was limited to 6 digits which means that it
            cannot be utilised as a general purpose unique id. In addition, this
            entry is often printed on the receipt at a POI.
             This value will correspond to **ISO8583 DE11.**
          maxLength: 40
          example: "000001"
    TokenDetailsPartial:
      type: object
      properties:
        reuse_token_type:
          title: Reuse Token Type
          description: The type of Reuse Token. This indicates if the reuse token is an internal Verifone type or an external Third-Party type.
          type: string
          enum:
            - CHASE
            - INTERNAL
            - TAVE
          default: INTERNAL
        reuse_token:
          type: string
          description: >-
            The Verifone issued reuse token used to represent the previously
            stored cardholder data.
          minLength: 16
          maxLength: 255
        analytics_token:
          type: string
          description: >-
            A token that cannot be reversed to Card Holder data. This is
            included in a Payment for auditing and tracking purposes.
    TokenDetails:
      type: object
      properties:
        reuse_token:
          type: string
          description: >-
            The Verifone issued reuse token used to represent the previously
            stored cardholder data.
          minLength: 16
          maxLength: 255
        reuse_token_type:
          title: Reuse Token Type
          description: The type of Reuse Token. This indicates if the reuse token is an internal Verifone type or an external Third-Party type.
          type: string
          enum:
            - CHASE
            - INTERNAL
            - TAVE
        analytics_token:
          type: string
          description: >-
            A token that cannot be reversed to Card Holder data. This is
            included in a Payment for auditing and tracking purposes.
        token_expiry_date:
          type: string
          format: date
          description: When this Token will expire.
        token_scope:
          type: string
          format: uuid
          description: The token scope under which this token was created.
        token_status:
          type: string
          enum:
            - DELETED
            - ACTIVE
            - SUSPENDED
          description: The status of the Token.
        created_at:
          type: string
          format: date
          description: The date when this token was first created.
        updated_at:
          type: string
          format: date
          description: The last date token was updated.
        variant:
          type: string
          description: The variant of the card. eg. NEW_WORLD
          example: NEW_WORLD
        type:
          type: string
          enum:
            - CREDIT
            - DEBIT
          description: The type of card application or account selection.
          example: CREDIT
        issuer_name:
          type: string
          description: "The issuer of this card. eg. HSBC, BARCLAYS."
          example: HSBC
        issuer_country:
          $ref: "#/components/schemas/issuerCountryEnum"
        brand:
          type: string
          example: VISA
          description: "The brand of this card. eg. VISA, MASTERCARD, AMEX."
        expiry_year:
          type: integer
          description: A 4 digit value as shown on card.
          maximum: 9999
          example: 2021
        expiry_month:
          type: integer
          description: A 2 digit value as shown on card. ISO8583 - DE 14
          maximum: 12
          example: 12
        card_holder_name:
          type: string
          description: The Card holder name as it appears on the card.
          maxLength: 30
          example: MR J HOLDER
        last_four:
          type: string
          description: The last 4 digits of the card number.
          maxLength: 4
          example: "3127"
        bin:
          type: string
          description: >-
            The Bank Identification Number (also called IIN - Issuer
            Identification Number) of this card.
          minLength: 6
          maxLength: 11
          example: "492912"
        currency_code:
          type: string
          title: Currency Code
          description: >-
            Three-letter ISO 4217 alphabetical currency code. e.g. USD. Values
            correspond

            to [ISO 4217](https://wikipedia.org/wiki/ISO_4217).
          enum:
            - AED
            - AFN
            - ALL
            - AMD
            - ANG
            - AOA
            - ARS
            - AUD
            - AWG
            - AZN
            - BAM
            - BBD
            - BDT
            - BGN
            - BHD
            - BIF
            - BMD
            - BND
            - BOB
            - BOV
            - BRL
            - BSD
            - BTN
            - BWP
            - BYR
            - BZD
            - CAD
            - CDF
            - CHE
            - CHF
            - CHW
            - CLF
            - CLP
            - CNY
            - COP
            - COU
            - CRC
            - CUC
            - CUP
            - CVE
            - CZK
            - DJF
            - DKK
            - DOP
            - DZD
            - EGP
            - ERN
            - ETB
            - EUR
            - FJD
            - FKP
            - GBP
            - GEL
            - GHS
            - GIP
            - GMD
            - GNF
            - GTQ
            - GYD
            - HKD
            - HNL
            - HRK
            - HTG
            - HUF
            - IDR
            - ILS
            - INR
            - IQD
            - IRR
            - ISK
            - JMD
            - JOD
            - JPY
            - KES
            - KGS
            - KHR
            - KMF
            - KPW
            - KRW
            - KWD
            - KYD
            - KZT
            - LAK
            - LBP
            - LKR
            - LRD
            - LSL
            - LTL
            - LVL
            - LYD
            - MAD
            - MDL
            - MGA
            - MKD
            - MMK
            - MNT
            - MOP
            - MRO
            - MUR
            - MVR
            - MWK
            - MXN
            - MXV
            - MYR
            - MZN
            - NAD
            - NGN
            - NIO
            - NOK
            - NPR
            - NZD
            - OMR
            - PAB
            - PEN
            - PGK
            - PHP
            - PKR
            - PLN
            - PYG
            - QAR
            - RON
            - RSD
            - RUB
            - RWF
            - SAR
            - SBD
            - SCR
            - SDG
            - SEK
            - SGD
            - SHP
            - SLL
            - SOS
            - SRD
            - SSP
            - STD
            - SVC
            - SYP
            - SZL
            - THB
            - TJS
            - TMT
            - TND
            - TOP
            - TRY
            - TTD
            - TWD
            - TZS
            - UAH
            - UGX
            - USD
            - USN
            - USS
            - UYI
            - UYU
            - UZS
            - VEF
            - VND
            - VUV
            - WST
            - XAF
            - XAG
            - XAU
            - XBA
            - XBB
            - XBC
            - XBD
            - XCD
            - XDR
            - XOF
            - XPD
            - XPF
            - XPT
            - XTS
            - XXX
            - YER
            - ZAR
            - ZMK
            - ZMW
            - BTC
    amount_simple_type:
      title: Amount Simple Type
      maxLength: 32
      pattern: ^((-?[0-9]+)|(-?([0-9]+)?[.][0-9]+))$
      type: string
      description: |
        The value, which can be anything from:<ul><li>An integer. For currencies that are not typically fractional, such as `JPY`.</li><li>A three-place decimal fraction. For currencies that are subdivided into thousandths, such as `TND`.</li></ul>
        <i>The required number of decimal places for a currency code is according to [ISO 4217](https://wikipedia.org/wiki/ISO_4217). However the following table takes precedence over ISO 4217:</i>

        |Code|Currency|Decimals|Fixed minor units|
        |--------|-----------|---------|-----------|
        |ISK|Iceland Krona|2|00|
      example: "20.50"
    amountDecimal:
      type: number
      description: Amount including decimal place.
    amountString:
      type: string
      description: Amount including decimal place.
    UnmatchedLineItem:
      title: Ecommerce basket line items
      description: >-
        The description of item(s) that was included in a transaction or
        purchase.
      type: object
      properties:
        name:
          type: string
          description: Descriptive name of the order line item
          maxLength: 255
        quantity:
          type: integer
          description: Quantity of the order line item
        unit_price:
          type: integer
          description: >-
            Unit Price is charged without a decimal place
            e.g. $1.5 = 150. Currencies can have different decimals/exponentials,
            see Currencies Section for more details.
        unit_price_tax:
          type: integer
          description: >-
            Unit Price Tax is charged without a decimal place
            e.g. $1.5 = 150. Currencies can have different decimals/exponentials,
            see Currencies Section for more details.
        tax_rate:
          type: number
          description: Item Tax Rate as percentage
          format: float
          example: "15.10"
        total_tax_amount:
          type: integer
          description: >-
            Total tax amount is charged without a decimal place
            e.g. $1.5 = 150. Currencies can have different decimals/exponentials,
            see Currencies Section for more details.
        total_amount:
          type: integer
          description: >-
            Total Amount is charged without a decimal place
            e.g. $1.5 = 150. Currencies can have different decimals/exponentials,
            see Currencies Section for more details.
        image_url:
          type: string
          description: Image URL for the line item
          maxLength: 2000
        item_url:
          type: string
          description: The line item's product description page URL.
          maxLength: 2000
        sku:
          type: string
          description: The stock keeping unit (SKU) for the item.
          maxLength: 127
        description:
          type: string
          description: The detailed item description.
          maxLength: 127
        category:
          type: string
          description: >-
            The item category type. <br />  The possible values are: <br />  *
            DIGITAL_GOODS - Goods that are stored, delivered, and used in their
            electronic format. This value is not currently supported for API
            callers that leverage the [PayPal for Commerce
            Platform](https://www.paypal.com/us/webapps/mpp/commerce-platform)
            product. <br />  * DIGITAL_GOODS - A tangible item that can be
            shipped with proof of delivery. <br />
          enum:
            - DIGITAL_GOODS
            - PHYSICAL_GOODS
      required:
        - name
        - total_amount
    paymentPlanOption:
      title: Instalment payment plan option
      type: object
      properties:
        number_of_instalments:
          minimum: 1
          type: integer
          description: The number of individual parts that the total amount should be paid in.
        first_instalment_amount:
          $ref: "#/components/schemas/amountDecimal"
        instalment_amount:
          $ref: "#/components/schemas/amountDecimal"
        interest_rate:
          type: number
          description: The interest rate.
          format: float
        annual_percentage_rate:
          type: number
          description: The interest rate expressed in Annual Percentage Rate.
          format: float
        handling_fee:
          $ref: "#/components/schemas/amountDecimal"
        total_amount_with_cost:
          $ref: "#/components/schemas/amountDecimal"
      description: An instalment plan option available for the transaction. Instalments are managed by the issuer. To the merchant this is just another transaction.
    CardBrand:
      type: string
      title: The Card Type
      description: >-
        Represents a Card type or brand. It should correspond to a
        consistent name, the list of standard names is as follows:


        Value |  Description

        ------|-------------

        AMEX|American Express

        CB|Carte Bancaires

        DINERS|Diners Club International

        DISCOVER|Diners Club Discover

        JCB|Japan Credit Bureau

        MAESTRO|Multi-national Debit (MasterCard)

        MASTERCARD|MasterCard

        VISA|Visa

        UPI|Union Pay International

        GIFT_CARD|Gift Card(Generic)

        **Other local schemes as applicable**. Enter a pre-defined name to represent the scheme or type. 

        **Note**: For gift cards, card brand is mandatory and the value should be GIFT_CARD.
    unmatchedRefundBaseRequest:
      properties:
        payment_provider_contract:
          type: string
          description: The identifier of payment provider contract you want to process the transaction request with.
          format: uuid-flexible
          example: 30b8bec8-5042-4e67-939c-5453fbe41711
        card_brand:
          $ref: "#/components/schemas/CardBrand"
        brand_choice:
          type: string
          description: >-
            For dual-branded cards identifies whether selection is made by a
            cardholder or merchant.
          enum:
            - MERCHANT
            - CARDHOLDER
          default: MERCHANT
        amount:
          type: integer
          description: >-
            Amount is charged without a decimal place e.g. $1.5 = 150.
            Currencies can have different decimals/exponentials, see Currencies
            Section for more details. For Account Verification transactions,
            provide 0 as value for this field.
        detailed_amount:
          title: Detailed Amount
          description: >-
            A structure that represents a breakdown all of the different amounts that may appear on a single transaction.
          type: object
          properties:
            tax_amount:
              title: Tax Amount
              description: An optional value to specify the amount of any tax that was included within the total amount for the transaction. This should be included in the total 'amount' of the transaction.
              $ref: "#/components/schemas/amount_simple_type"
        currency_code:
          $ref: "#/components/schemas/CurrencyCodeEnum"
        customer:
          title: Customer ID
          description: The ID of a customer.
          type: string
          format: uuid-flexible
          example: 0a57b387-2ba7-4f65-be2f-e176bb49d2ce
        shopper_interaction:
          title: Ecommerce Shopper Interaction
          description: >
            Determines the sales channel the shopper gives their card details
            through:
              * `ECOMMERCE` Online transactions where the cardholder is present.
              * `MAIL` order transactions where the shopper is in contact with the merchant via email.
              * `TELEPHONE` order transactions where the shopper is in contact with the merchant via telephone.
          type: string
          enum:
            - ECOMMERCE
            - MAIL
            - TELEPHONE
          default: ECOMMERCE
          example: ECOMMERCE
        reason:
          type: string
          description: The reason for the refund
        merchant_reference:
          description: A reference specified by the merchant to identify the transaction.
          type: string
          example: 7a1db7a8-6f24-4bc5-a51b-cef33fc05140
          maxLength: 50
        line_items:
          type: array
          description: The array of items being refunded.
          items:
            $ref: "#/components/schemas/UnmatchedLineItem"
        receipt_type:
          type: string
          description: Defines the type of receipt to be generated
          enum:
            - FULL_RECEIPT
            - INVOICE
            - INVOICE_RECEIPT
            - SIMPLE_RECEIPT
        tax_indicator:
          title: Tax Indicator
          description: >
            This field indicates the taxable status of the transaction (if any of the purchased items are taxable). This field is part of so-called Level 2 data.
            If the value `TAX_PROVIDED` is sent, `tax_amount` should also be provided
          type: string
          enum:
            - TAX_PROVIDED
            - TAX_NOT_PROVIDED
            - NON_TAXABLE
          default: TAX_NOT_PROVIDED
        purchase_order_number:
          title: Purchase Order Number
          description: >
            The purchase order number. It can be provided in transactions with purchase or procurement cards for the cardholder to get better interchange rates (note that this functionality needs alignment with the acquirer and the scheme).
            This field is part of so-called Level 2 data.
          type: string
          maxLength: 17
        promo_code:
          type: string
          description: A code defined by the merchant that affects the calculation of the total amount.
      required:
        - payment_provider_contract
        - amount
        - currency_code
    unmatchedRefundEncryptedCardRequest:
      title: Using Encrypted Card
      type: object
      allOf:
        - $ref: "#/components/schemas/unmatchedRefundBaseRequest"
        - properties:
            encrypted_card:
              type: string
              title: Client encrypted cardholder data
              description: >-
                The cardholder data encrypted using the Verifone provided public
                key. This can be obtained using either Verifone.JS solution or Verifone Checkout in capture mode.

                 The data to encrypt is a JSON with possible tags being cardNumber, sequenceNumber, cardholderName, startMonth, startYear, expiryMonth, expiryYear, cvv. This should be a single JSON line and should not contain any spaces. Read <a target="_blank" style="color:blue;" href="https://verifone.cloud/docs/online-payments/secure-card-capture-key">Secure card capture key</a> for details.

                 Additionally, a tag called captureTime must be presenting indicating the time the card was captured in UTC in format RFC 3339, section 5.6. eg. 2019-08-24T14:15:22Z. Encrypted card is valid for only 15 minutes.
              example: U3dhZ2dlciByb2Nrcw==
            encrypted_svc_access_code:
              type: string
              title: Client encrypted SVC Access Code
              description: |-
                The SVC Access Code encrypted using the Verifone provided public key. This can be obtained using either Verifone.JS solution or Verifone Checkout in capture mode.

                The data to encrypt is a JSON with tag svcAccessCode.

                Additionally a tag called captureTime must be presenting indicating the time the cvv was captured in UTC in format RFC 3339, section 5.6. eg. 2019-08-24T14:15:22Z.
            public_key_alias:
              type: string
              title: Public Key Alias
              description: The alias for the public key used to encrypt the card/identity card/cvv/svc access code.
            prefer_fund_transfer:
              type: boolean
              description: |-
                This flag is to be set to true when the merchant would like to use
                fund transfer options like OCT and the Payment provider contract
                is enabled for both fund transfers and unmatched refund.
              default: false
          required:
            - encrypted_card
            - public_key_alias
    issuerInstalmentSelectionRequest:
      title: Issuer Instalment Option Selection Request.
      type: object
      properties:
[...]
